html {
	//overflow-x: hidden;
	&.modal-open,
	&.nav-active {
		overflow: hidden;
		body {
			overflow: hidden;
		}
	}
	&.modal-open #page-wrapper {
		display:none;
	}
}
body {
	background: #eeeeee;
	overflow-x: hidden;
	margin-top: 40px;
	
	.darker-section {
		background: #e6e6e6;
	}
}
@media (max-width:767px) {
	body {
		margin-top: 50px;
	}
	.modal-dialog {
		padding:0px !important;
	}
}

/*  Wrappers
	================================================== */
#wrapper {
	padding-left: 225px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes content-animation-open
{
	from {opacity:0;}
	to {opacity:1;}
}

/* Standard syntax */
@keyframes content-animation-open
{
	from {opacity:0;}
	to {opacity:1;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes content-animation-close
{
	from {opacity:1;}
	to {opacity:0;}
}

/* Standard syntax */
@keyframes content-animation-close
{
	from {opacity:1;}
	to {opacity:0;}
}

#page-wrapper.loaded {
	
	-webkit-animation: content-animation-open .5s; /* Chrome, Safari, Opera */
	animation: content-animation-open .5s;
}

#page-wrapper {
	
	-webkit-animation: content-animation-close .5s; /* Chrome, Safari, Opera */
	animation: content-animation-close .5s;
}

#page-wrapper {
	padding: 10px !important;
	.row {
		margin-left:-10px!important;
		margin-right:-10px!important;
	}
}

.panel {
	.border-radius(0px);
	border: solid 1px rgba(0,0,0,.15);
	box-shadow: none;
	border-bottom: solid 2px rgba(0,0,0,.20);
	padding: .7em 1.4em;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes loading-animation
{
	from {opacity:0;.transform(scale(.7,.7));}
	to {opacity:1;.transform(scale(1,1));}
}

/* Standard syntax */
@keyframes loading-animation
{
	from {opacity:0;.transform(scale(.7,.7));}
	to {opacity:1;.transform(scale(1,1));}
}

#sp-loading-container.active #sp-loading-message {
	
	-webkit-animation: loading-animation .25s; /* Chrome, Safari, Opera */
	animation: loading-animation .25s;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

#sp-loading-container {
 	position: fixed;
	visibility: hidden;
	z-index: 99999;
	.no-user-select();
	cursor: default;
	text-align: center;
	#sp-loading-overlay {
		opacity: 0;
		visibility: hidden;
		background: #f2f2f2;
 		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		top: 0px;
		.transition(opacity .25s linear);
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	#sp-loading-message {
		opacity: 0;
		visibility: hidden;		
		background: #e6e6e6;
		padding: 1em; 
		.border-radius(5px);
		cursor: default;
 		position: fixed;
 		top:50%;
 		left: 50%;
 		margin: -4em -125px;
 		width: 250px;
 		border:solid 1px #d9d9d9;
 		.sp-loading-icon {
 			display:block;
 			font-size: 2em;
 			margin-bottom: 5px;
 			color: @sp-color-main-blue;
 		}
	}
	&.active {
		visibility: visible;
		#sp-loading-message {
			visibility: visible;
			opacity: 1;
		}
	}
}
.sp-page-tabs {
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	background: #ffffff;
	li {
		&+li {
			margin: 0px;
		}
		a {
			.border-radius(0px);
			color: #666;
			font-size:.9em;
			&:hover,
			&:focus {
				background: #eeeeee;
				color: #000000;
			}
		}
		&.active a {
			background: #eeeeee;
			color: @sp-color-main-blue;
			margin-bottom: -1px;
			margin-top: 1px;
			border: solid 1px #d3d3d3;
			border-bottom: none;
			border-top: none;
			padding-top:9px;
			padding-bottom:11px;
			&:hover {
				background: #eeeeee;
				color: @sp-color-main-blue;			
			}
		}
		&:nth-child(1) {
			&.active a {
				border-left: none;
			}
		}
		i {
			font-size:14px!important;
		}
	}
	border-bottom: solid 1px #d3d3d3;
}

.sp-checkbox {
	cursor: pointer;
	input[type=checkbox] {
		display:none;
		& + span {
			width: 18px;
			height: 18px;
			margin: 0px 10px;
			display:inline-block;
			background: rgba(0,0,0,.09);
			border:solid 1px rgba(0,0,0,.1);
			line-height:16px;
			.border-radius(3px);
			text-align:center;
		}
		&:checked + span {
			background: @sp-color-main-blue;
			border:solid 1px @sp-color-main-blue;
			i:before {
				content: "\f00c";
				color: #fff;
			}
		}
	}
}

.messages-dropdown {
	&.open .dropdown-menu {
		-webkit-animation: user-navigation-animation-open .5s; /* Chrome, Safari, Opera */
		animation: user-navigation-animation-open .5s;	
	}
	.dropdown-menu {
		padding:0px;
	
		max-height:500px;
		overflow:auto;
	}
	ul {
		li {
			&:nth-child(odd) a {
				background:#eee;
			}
			&:last-child a {
				background:#fff;
			}
			&.divider {
				padding:0;
				margin:0;
				background:#ccc;
			}
			a {
				padding:10px;
				table {
					tr {
						td {
							vertical-align:top;
							&.body {
								padding-left:5px;
							}
							.label {
								padding:5px 8px;
									text-align:center;
								i {
									width:12px;
									height:12px;
									text-align:center;
								}
							}
							.time {
								font-size:.8em;
								line-height:1.3em;
								color:#999;
								padding:0;
							}
							.message {
								font-size:.9em;
								line-height:1.1em;
							}
						}
					}
				}
				&:hover {
					background:#ddd!important;
				}
			}
		}
	}
}
#sp-notifications .sp-notification {
	-webkit-transition: -webkit-transform .2s ease-in,opacity .2s ease-in; /* Changed here */ 
	   -moz-transition: -moz-transform .2s ease-in,opacity .2s ease-in;
         -o-transition: -o-transform .2s ease-in,opacity .2s ease-in;
            transition: transform .2s ease-in,opacity .2s ease-in;
	.transform(translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1));
	opacity:1;
	
	&:not(.visible) {
		height:0;
		opacity:0;
		overflow:hidden;
		.transform(translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.75, 0.75));
	}
}