/*  Sidebar navigation
	================================================== */
@sp-sidebar-width: 225px;
@sp-sidebar-bg-color: #293541;
@sp-sidebar-text-color: #667686;

.navbar-brand {
	background: darken(@sp-sidebar-bg-color,5);
	display: block;
	width: @sp-sidebar-width;
	text-align: center;
	color: rgba(255,255,255,.7) !important;
	font-size: 14px;
	text-transform: uppercase;
	box-shadow: inset -9px 0px 6px -6px rgba(0,0,0,.4);
	float: none;
	border-bottom: solid 1px rgba(255,255,255,.1);
	text-align: center;
	padding: 10px;
	img {
		text-align: center;
		height: 50px;
		margin-bottom:5px;
	}
	&:hover {
		color: #ffffff !important;
		background: darken(@sp-sidebar-bg-color,5) !important;
	}
	span {
		position: relative;
		display:block;
		small {
			display:block;
			text-align: center;
			width: 100%;
			font-size: 12px;
			color: @sp-sidebar-text-color;
			margin-top: -5px;
			text-transform: none;
		}
	}
}
.navbar-brand-small {
	display: none;
}

.side-nav {
	left: 0px;
	width: @sp-sidebar-width;
	position: fixed;
	top: 0px;
	height: 100%;
	bottom:0px;
	border-radius: 0;
	border: none;
	background-color: @sp-sidebar-bg-color;
	.transform(translate(0px,0));
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: inset -9px 0px 6px -6px rgba(0,0,0,.4); 

	hr {
		border: none;
		border-bottom: solid 1px rgba(0,0,0,.1);
		border-bottom: solid 1px rgba(255,255,255,.1);
		background: darken(@sp-sidebar-bg-color,5) !important;
		display:block;
		height: 3px;
		margin: 5px 0px;
		padding: 0px;
	}

	.input-group {
		width: @sp-sidebar-width - 20;
		border:0;
		margin: 10px;
		.input-group-addon {
			background: darken(@sp-sidebar-bg-color,3);
			border:0;
			color: @sp-sidebar-text-color;
			border-bottom: solid 1px lighten(@sp-sidebar-bg-color,5);
			border-left: solid 1px darken(@sp-sidebar-bg-color,5);
			border-top: solid 1px darken(@sp-sidebar-bg-color,5);
			padding-right:0px;
		}
		input {
			background: none;
			border:0;
			background: darken(@sp-sidebar-bg-color,3);
			border-bottom: solid 1px lighten(@sp-sidebar-bg-color,5);
			border-right: solid 1px lighten(@sp-sidebar-bg-color,5);
			border-top: solid 1px darken(@sp-sidebar-bg-color,5);
			box-shadow: none;
			color: #ffffff;
			font-size: 12px;
			-webkit-appearance: none;
			&:focus {
				outline: none;
			}
			
			&::-webkit-input-placeholder		{color:@sp-sidebar-text-color;}
			&:-moz-placeholder					{color:@sp-sidebar-text-color;}
			&::-moz-placeholder					{color:@sp-sidebar-text-color;}
			&:-ms-input-placeholder				{color:@sp-sidebar-text-color;}
			
			&:focus::-webkit-input-placeholder	{color:#ffffff;}
			&:focus:-moz-placeholder			{color:#ffffff;}
			&:focus::-moz-placeholder			{color:#ffffff;}
			&:focus:-ms-input-placeholder		{color:#ffffff;}
		}
	}

	&>ul {
		width: @sp-sidebar-width;
		&>li {
			padding: 0px 10px;
			&:not(.button)>a {
				width: @sp-sidebar-width - 20;
				padding: 10px;
				border-bottom: solid 1px lighten(@sp-sidebar-bg-color,5);
				border-radius: 3px;
				color: #768696;
				.fa {
					width: 14px;
					margin-right: 10px;
				}
				&:hover,
				&:focus {
					background-color: lighten(@sp-sidebar-bg-color,5) !important;
					color: #ffffff;
				}
				.badge {
					float: right;
					margin-right: -5px;
					background: #768696;
				}
			}
			&:not(.button).active {
				&>a {
					cursor: default;
					&,
					&:hover,
					&:focus {
						background: @sp-color-main-blue !important;
						color: #ffffff;
					}	
					.badge {
						background: rgba(255,255,255,1);
						color: @sp-color-main-blue;
					}				
				}
			}
			&.button {
				padding: 10px;
				width: @sp-sidebar-width;
				i {
					margin-right: 10px;
					margin-left: -10px;
				}
			}
		}
	}
}

/*  Topbar navigation
	================================================== */
.navbar {
	background: @sp-color-main-blue;
	border: none;
	border-bottom: solid 1px darken(@sp-color-main-blue,5);
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	min-height: 40px;
	.navbar-user {
		&>li {
			&>a {
				color: #ffffff;
				padding-top: 10px;
				padding-bottom: 10px;
				.caret {
					border-top-color: #fff;
					border-bottom-color: #fff;
				}
				.badge {
					background: rgba(255,255,255,1);
					color: @sp-color-main-blue;
					font-weight: 700;
				}
				&:hover,
				&:focus,
				&:active,
				&.active {
					background: rgba(0,0,0,.1);
				}
			}
			&:hover,
			&:focus,
			&:active,
			&.open {
				&>a {
					background: rgba(0,0,0,.1);
					.caret {
						border-top-color: #fff;
						border-bottom-color: #fff;
					}
				}
			}
		}
	}
	.navbar-header {
		.transform(translate(0px,0));
		display: none;
	}
}
.messages-dropdown .dropdown-menu {
	min-width: 300px;
}
.messages-dropdown .dropdown-menu li a {
	white-space: normal;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes user-navigation-animation-open
{
	from {opacity:0;}
	to {opacity:1;}
}

/* Standard syntax */
@keyframes user-navigation-animation-open
{
	from {opacity:0;}
	to {opacity:1;}
}

#user-navigation {
	display: none;
	position: fixed;
	right: 0px;
	top: 41px;
	background: #f2f2f2;
	z-index: 999999;
	display: block;
	padding-top: 5px;

	.transform(translate(0px,0));

	&.active{
		-webkit-animation: user-navigation-animation-open .5s; /* Chrome, Safari, Opera */
		animation: user-navigation-animation-open .5s;	
	}
	
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	.border-radius(4px);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	
	ul li {
		list-style-type: none;
	}
	&>ul {
		width: 302px;
		font-size: 0px;
		padding: 0px;
		margin: 0px;
		.border-radius(4px);
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		&>li {
			font-size: 12px;
			display: inline-block;
			&.divider,
			&.block {
				display:block;
			}
			&:not(.exit-app) {
				text-align: center;
				margin: 5px;
				vertical-align:top;
				&.button>a {
					white-space: normal;
					padding: 10px 5px;
					width: 90px;
					position: relative;
					border: solid 1px #e6e6e6;
					.border-radius(4px);
					color: rgba(0,0,0,.6);
					background: #ffffff;
					display: block;
					text-decoration: none;
					&>i {
						width: 20px;
						display:block;
						margin: auto;
						padding-bottom: 5px;
						font-size: 20px;
					}
					.badge {
						position: absolute;
						top: -5px;
						right: -5px;
					}
					&:hover {
						background: @sp-color-main-blue;
						color: #ffffff;
					}
				}
				&.info-element {
					.border-radius(4px);
					color: rgba(0,0,0,.6);
					background: #ffffff;	
					border: solid 1px #e6e6e6;
					display:block;	
					padding: 5px;	
					text-align:left;
					position:relative;
					line-height:1;
					.label {
						position:absolute;
						right:0;
						top:0;
						bottom:0;
						font-size:1em;
						padding:5px;
						line-height:1;
						width:100px;
						.border-radius(4px);
					}		
				}
			}
			&.exit-app {
				a {
					display: block;
					color: #ffffff;
					background: @sp-color-main-blue;
					text-align: center;
					padding: 10px;
					.border-radius(4px);
					border-top-right-radius: 0;
					border-top-left-radius: 0;
					font-size: 14px;
					text-decoration: none;
					i {
						font-size: 14px;
						margin-right: 10px;
						margin-left: -10px;
					}
					&:hover {
						background: darken(@sp-color-main-blue,5);
					}
				}
				&:not(.mobile) {
					display:none;
				}
			}
		}
	}
}

#sidebar-calendar {
	hr {
		margin-left: -10px;
	}
	color: rgba(255,255,255,.4);
	margin-left:10px;
	position: absolute;
	bottom: 50px;
	font-size: .9em;
	th {
		&.dow {
			text-transform: uppercase;
			font-size: 10px;
			color: @sp-color-main-blue;
		}
		&.datepicker-switch {
			text-transform: uppercase;
			font-size: 11px;
			color: rgba(255,255,255,.6);
			&:hover {
				background: rgba(255,255,255,.1);
				color: rgba(255,255,255,1);
			}
		}
		&.next,
		&.prev {
			color: rgba(255,255,255,.4);
			font-size: 14px;
			&:hover {
				background: rgba(255,255,255,.1);
				color: rgba(255,255,255,1);
			}
		}
	}
	td {
		text-shadow: none;
		font-size: 11px;
		padding: 0px;
		span {
			padding: 0px;
			height: auto;
			line-height: 4.1em;
		}
		&.day,
		& .month,
		& .year {		
			&.old,
			&.new {
				color: rgba(255,255,255,.15);
			}
			&.active {
				background: none;
				color: rgba(255,255,255,.4);
			}
			&:hover {
				background: rgba(255,255,255,.1);
				&:not(.old):not(.new) {
					color: rgba(255,255,255,1);
				}				
			}
			&.today,
			&.month.active,
			&.year.active {
				background: @sp-color-main-blue;
				color: #ffffff;
			}
		}
	}
}
@media (max-height:750px) {
	#sidebar-calendar {
		display: none;
	}
}
/*  Properties for mobile sizes
	- Hide sidebar
	- Slide sidebar
	================================================== */
@media (max-width:767px) {
	html.nav-active {
		overflow: hidden;
	}
	.navbar-nav {
		margin: 0px;
		&>li>a {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	#wrapper {
		padding-left: 0px !important;
		.side-nav {
			.transform(translate(-@sp-sidebar-width,0));
			top: 0px;
			.navbar-brand {
				display: none;
			}
		}
		&.nav-active {
			#page-wrapper {
				.transform(translate(@sp-sidebar-width,0));
				width: 100%;
			}
			.side-nav {
				.transform(translate(0px,0));
			}
			.navbar-header {
				.transform(translate(@sp-sidebar-width,0));
				//margin-right: -@sp-sidebar-width !important;
			}
			#user-navigation {
				.transform(translate(@sp-sidebar-width,0));
			}
		}
		#sidebar-calendar {
			display:none;
		}
		.side-nav,#page-wrapper,.navbar-header,#user-navigation {
			-webkit-transition: .2s ease-in-out;
    		-moz-transition: .2s ease-in-out;
    		-o-transition: .2s ease-in-out;
    		transition: .2s ease-in-out;
		}
	}
	
	
/*  Topbar
	- Hide sidebar
	- Slide sidebar
	================================================== */
	.navbar {
		background: none;
		border: none;
	}
	.navbar-header {
		display:block !important;
		min-height: 50px;
		height: 50px;
		background-color: @sp-sidebar-bg-color;
		border-bottom: solid 1px darken(@sp-sidebar-bg-color,5);
		.navbar-toggle {
			float: left;
			margin: 0px;
			border-radius: 0px;
			border: none;
			border-right: solid 1px rgba(255,255,255,.1);
			height: 50px;
			width: 50px;
			background: none;
			.fa-bars {
				color: rgba(255,255,255,.7) !important;
			}
		}
		.navbar-user-toggle {
			float: right;
			margin: 0px;
			border-radius: 0px;
			border: none;
			border-left: solid 1px rgba(255,255,255,.1);
			height: 50px;
			width: 50px;
			background: none;
			.fa {
				color: rgba(255,255,255,.7) !important;
			}
			&.active {
				background: rgba(255,255,255,.15);
				color: #ffffff;
			}
		}
		.navbar-sp-update {
			float: right;
			margin: 0px;
			border-radius: 0px;
			border: none;
			border-left: solid 1px rgba(255,255,255,.1);
			height: 50px;
			width: 50px;
			background: none;
			color: rgba(255,255,255,.7) !important;
			.fa {
				color: rgba(255,255,255,.7) !important;
			}
			&.active {
				background: rgba(255,255,255,.15);
				color: #ffffff;
			}
		}
		.navbar-sp-notifications {
			float: right;
			margin: 0px;
			border-radius: 0px;
			border: none;
			height: 50px;
			width: 50px;
			border-left: solid 1px rgba(255,255,255,.1);
			button {
				margin: 0px;
				border-radius: 0px;
				border: none;
				height: 50px;
				width: 50px;
				background: none;
				color: rgba(255,255,255,.7) !important;
				.fa {
					color: rgba(255,255,255,.7) !important;
				}			
			}
				&.active {
					background: rgba(255,255,255,.15);
					color: #ffffff;
				}	
		}
		.navbar-brand-small {
			width: 100%;
			height: 50px;
			text-align: center;
			display: block;
			text-decoration: none;
			color: rgba(255,255,255,.7) !important;
			img {
				height: 46px;
				margin: 2px;
				margin-left:-46px;
				display: inline-block;
				vertical-align: top;
			}
			span {
				position: relative;
				display:inline-block;
				padding-top:8px;
				small {
					display:block;
					text-align: center;
					width: 100%;
					font-size: 12px;
					color: @sp-sidebar-text-color;
					margin-top: -5px;
					text-transform: none;
				}
			}
			.prevent-select();
			cursor: default;
		}
	}
	#user-navigation {
		top: 51px;
	}
}
/*-webkit-transition: @transition, -webkit-transform;
-moz-transition: @transition, -moz-transform ;
-o-transition: @transition, -o-transform ;
transition: @transition, transform ;

-webkit-transform: @transform;
-moz-transform: @transform;
-o-transform: @transform;
-ms-transform: @transform;
transform: @transform;*/
