#shopping-cart {
	position:fixed;
	bottom:0px;
	left:225px;
	right:0px;
	height:40px;
	z-index:1030;
	background: #e6e6e6;
	font-size: 1em;
	box-shadow: 0px -1px 2px rgba(0,0,0,.4);
	cursor: pointer;
	
	#shopping-cart-container {	
		display: inline-block;
		position: absolute;
		height: 40px;
		left:0px;
		right:120px;
		top:0px;
		bottom:0px;
		
		i {
			color: #293541;
			font-size: 14px;
			width: 60px;
			text-align:center;
			line-height: 40px;
			position: absolute;
			left: 0px;
		}
		
		#shopping-cart-details {
			right: 0px;
			background: none;
			color: #333333;
		}
		#shopping-cart-price {
			right: 60px;
			width: 100px;
			text-align: right;
			padding: 0px;
			span {
				line-height: 20px;
				display: inline-block;
				font-size: 1em;
			}
		}
		#shopping-cart-products,
		#shopping-cart-client {
			left: 220px;
			right: 160px;
			line-height: 40px;
			font-size: .9em;
			span {
				line-height: 20px;
				display: inline-block;
				margin-left: 40px;
			}
		}
		#shopping-cart-client {
			left: 0px;
			width: 220px;
			right: auto;
		}
		#shopping-cart-price,
		#shopping-cart-products,
		#shopping-cart-client {
			i {
				width: 40px;
			}
		}
		
		&:hover {
			background: #f2f2f2;
			i {
				color: @sp-color-main-blue;
			}
		}
	}
	
	
	#shopping-cart-client,
	#shopping-cart-products,
	#shopping-cart-price,
	#shopping-cart-confirm,
	#shopping-cart-cancel,
	#shopping-cart-details {
		display: inline-block;
		height:40px;
		vertical-align: middle;
		line-height:40px;
		position: absolute;
	}
	#shopping-cart-confirm,
	#shopping-cart-cancel,
	#shopping-cart-details {
		width: 60px;
		padding: 0px;
		margin: 0px;
		.border-radius(0px);
		border: none;
		right: 0px;
		color: #fff;
		i {
			font-size: 14px;
			width: 60px;
			text-align:center;
			line-height: 40px;
			position: absolute;
			left: 0px;
			top:0px;
		}
	}
	#shopping-cart-cancel {
		right: 60px;
		background: @sp-color-main-red;
		&:hover {
			background: darken(@sp-color-main-red,10);
		}
	}
	#shopping-cart-confirm {
		background: @sp-color-main-blue;
		&:hover {
			background: darken(@sp-color-main-blue,10);
		}
	}
}
@media (max-width:1028px) {
	#shopping-cart {
		#shopping-cart-client {
			display:none !important;
		}
		#shopping-cart-products {
			left: 0px !important;
		}
	}
}
@media (max-width:767px) {
	#shopping-cart {
		left: 0px;
		#shopping-cart-client {
			display:none !important;
		}
		#shopping-cart-products {
			left: 0px !important;
		}
	}
}
@media (max-width:480px) {
	#shopping-cart {
		#shopping-cart-products {
			display:none !important;
		}
		#shopping-cart-details {
			left: 0px !important;
			right: 90px !important;
			width: auto !important;
			text-align: left;
			padding-left: 40px;
			white-space: nowrap;
			i {
				width: 40px;
			}
		}
		#shopping-cart-price {
			right: 0px !important;
			span {
				padding-top:0 !important;
				padding-bottom:0 !important;
				line-height:40px !important;
				.border-radius(0px);
			}
		}
	}
}
@media (min-width:480px) {
	#shopping-cart {
		#shopping-cart-details {
			span {
				display: none !important;
			}
		}
	}
}



#shopping-cart-modal-products {
	thead {
		font-size:.8em;
	}
	tbody {
		font-size:.9em;
		tr {
			td {
				height: 4em;
				backgound: #eeeeee;
				vertical-align:middle;
				text-align: center;
				img {
					height: 4em;
					width: 4em;
					margin-left: -8px;
					margin-right: -8px;
				}
				&:first-child {
					background: #fff;
				}
				&:nth-child(2) {
					text-align: left;
				}
				&:nth-child(4) {
					button {
						display:block;
						width:100%;
					}
				}
			}
		}
	}
}

@media (max-width:480px) {#shopping-cart-modal-products tr {td:nth-child(1),td:nth-child(3){display:none;}}}
@media (max-width:630px) {}
@media (min-width:768px) {}
@media (min-width:900px) {}
@media (min-width:1100px) {}