.sp-header {
	margin: 10px -7px;
	background:#e6e6e6;
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	height:36px;
	line-height:36px;
	position:relative;
	> i  {
		color: #ffffff;
		width: 30px;
		height: 30px;
		line-height: 32px;
		text-align: center;
		.border-radius(0px);
		color: @sp-color-main-blue;
		font-size: 14px;
	}
	small {
		margin: 0px;
		margin-left: 45px;
		display: block;
	}
	.header-right {
		position:absolute;
		right:0;
		top:0;
		bottom:0;
		.label {
			margin:0;
			display:inline-block;

			margin-left:5px;
			margin-right:5px;
			font-size:1em;
		}
		small {
			line-height:35px;
		}
	}
}