<script type="text/javascript">
$("title").html("Aplicação Android");
</script>
<div class="row">
	<div class="col-md-12">
		<h4 class="sp-header" style="margin-top:-10px;"><i class="fa fa-download"></i> Download</h4>
		<div class="panel">
			1º - Fazer download do ficheiro de instalação da aplicação para o terminal a instalar clicando no botão seguinte<br>
			<a class="btn btn-success" href="http://sparmedix.pt/ws/apk"><i class="fa fa-download"></i> Download da aplicação</a>
			
			<br><br>2º - Confirmar o download do arquivo<br>
			<img src="images/instalation/download-confirm.png" width="250px" />
			
			<br><br>3º - Verifique que o ficheiro foi descarregado para o terminal.<br>
			<img src="images/instalation/download-done.png" width="250px" />

			<br><br>
		</div>
		<h4 class="sp-header"><i class="fa fa-cogs"></i> Instalação</h4>
		<div class="panel">
			4º - Seleccionar o ficheiro descarregado clicando sobre ele na área de notificações. Será apresentado uma notificação indicando que o seu telemóvel não permite a instalação de aplicações desconhecidas. Deverá configurar o mesmo para permitir a instalação.<br>
			<img src="images/instalation/unknown-warning.png" width="250px" />

			<br><br>5º - Na lista de configurações, active a opção "Fontes desconhecidas" e volte atrás ao ecrã de instalação<br>
			<img src="images/instalation/unknown-active.png" width="250px" />

			<br><br>6º - Confirme as permissões da aplicação, e seleccione a opção "Instalar" para prosseguir.<br>
			<img src="images/instalation/app-install.png" width="250px" />

			<br><br>7º - A aplicação encontra-se agora instalada e pronta a utilizar.<br>
			<img src="images/instalation/app-installed.png" width="250px" />
		</div>
	</div>
</div>
<script type="text/javascript">
$(".sp-update-target").on("sp-update-content",function(){

});
$(".sp-update-target").trigger("sp-update-content");
</script>