<script type="text/javascript">
$("title").html("Lista de clientes");
</script>

<ul class="nav nav-pills sp-page-tabs" id="sp-clients-tabs" style="margin-bottom:5px;">
	<li class="active"><a href="#" class="sp-no-follow"><i class="fa fa-list"></i> Todos</a></li>
	<li class="sp-clients-fav"><a href="#" class="sp-no-follow"><i class="fa fa-star"></i> Favoritos</a></li>
</ul>

<div class="row">
	<div id="sp-clients-search-input-fields" class="col-md-6 col-md-offset-3">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input id="sp-clients-search-input" type="search" class="form-control" placeholder="Pesquisar cliente">
			<span class="input-group-addon btn btn-default" id="sp-clients-search-input-reset"><i class="fa fa-times"></i></span>
		</div>
		<table cellpadding="0" cellspacing="0" style="width:100%;font-size:.9em;">
			<tr>
				<td style="width:50%;">
					<select id="sp-clients-search-filters" class="selectpicker" title="Campos a filtrar" multiple data-width="100%">
						<option value="Nome" selected>Nome</option>
						<option value="NIF" selected>NIF</option>
						<option value="E-mail">E-mail</option>
						<option value="Responsável">Responsável</option>
						<option value="Morada">Morada</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="alert alert-info" id="sp-client-list-notification"><i class="fa fa-info-circle"></i> Não foram encontrados clientes</div>
<div class="row" style="margin-bottom:60px;" id="sp-client-list"></div>

	<div class="sp-inpage-pagination">
		<input type="hidden" id="sp-client-list-load-page" value="0" />
		<input type="hidden" id="sp-client-list-load-visible" value="40" />
		<input type="hidden" id="sp-client-list-load-total" value="0" /> 
		<small><span>A apresentar <span class="sp-client-list-load-elements-first">-</span> a <span class="sp-client-list-load-elements-last">-</span> de <span class="sp-client-list-load-elements-total">-</span></span></small>
		<div class="input-group">
			<span class="input-group-addon btn btn-default" id="sp-client-list-load-prev"><i style="margin-right:5px;" class="fa fa-chevron-circle-left"></i> Anterior</span>
			<select class="form-control" id="sp-client-list-load-pages"></select>
			<span class="input-group-addon btn btn-default" id="sp-client-list-load-next">Seguinte <i style="margin-left:5px;" class="fa fa-chevron-circle-right"></i></span>
		</div>
	</div>
<script type="text/javascript">	

sp.utils.storage.get("client.search.filters",function(variable){
	$("#sp-clients-search-filters option").prop("selected",false);
	for(var i in variable) {
		$("#sp-clients-search-filters option[value='"+variable[i]+"']").prop("selected",true);
	}
	if($(".dropdown-toggle[data-id='sp-clients-search-filters']").length>0) {
		$('#sp-clients-search-filters').selectpicker('render');
		$("#sp-client-list-load-page").trigger("change");
	}
});

/*if(sp.user.client_filters) {
	var filters = sp.user.client_filters;
	$("#sp-clients-search-filters option").prop("selected",false);
	for(var i in filters) {
		$("#sp-clients-search-filters option[value='"+filters[i]+"']").prop("selected",true);
	}
}*/

/* clients = sp.db.client.filter({
	//nome: "Z nome 175",
	//nif: "50",
	all: true,
	string: "2370"
});
for(var i in clients) console.log(clients[i].nome); */
$("#sp-clients-search-filters").change(function(){
	sp.utils.storage.set("client.search.filters",$("#sp-clients-search-filters").val());
	if($("#sp-clients-search-filters").val()) 
		$("#sp-clients-search-input").removeAttr("disabled");
	else 
		$("#sp-clients-search-input").attr("disabled","disabled");
	$("#sp-client-list-load-page").val(0);
	update_client_list ($("#sp-client-list-load-page").val(),$("#sp-client-list-load-visible").val(),$("#sp-clients-search-input").val());
});

function update_client_list (page,visible,filter_string) {
	filters = $("#sp-clients-search-filters").val() || false;
	filter_nome = false;
	filter_nif = false;
	filter_email = false;
	filter_responsavel = false;
	filter_morada = false;
	if(filters) {
		filter_nome = $.inArray( "Nome", filters ) != -1;
		filter_nif = $.inArray( "NIF", filters ) != -1;
		filter_email = $.inArray( "E-mail", filters ) != -1;
		filter_responsavel = $.inArray( "Responsável", filters ) != -1;
		filter_morada = $.inArray( "Morada", filters ) != -1;
	}

	first = parseInt(page)*parseInt(visible);
	last = parseInt(first)+parseInt(visible);
	clients = sp.db.client.filter({
		all: 		filter_string,
		nome: 		filter_nome,
		nif: 		filter_nif,
		codigo: 	false,
		responsavel:filter_responsavel,
		morada: 	filter_morada,
		email: 		filter_email,
		favorites: 	$("#sp-clients-tabs .sp-clients-fav").hasClass("active")
	});
	$("#sp-client-list").empty();
	for (var i=first;i<parseInt(first)+parseInt(visible);i++)
	{
		if(i==clients.length) break;
		var client = clients[i];
		str = '';
		
		str += '	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 sp-client '+($.inArray( client.id, sp.user.fav_clients ) != -1?"fav":"")+'" data-id="'+client.id+'">';
		str += '		<div class="panel '+(sp.order.client == client.id || sp.order.bill_client == client.id ? "selected":"")+'" data-id="'+client.id+'">';
		str += '			<div class="sp-client-body">';
		str += '				<div class="sp-client-text">';
		str += '					<div class="sp-client-name">'+client.nome+'</div>';
		if(client.local)str += '					<div class="sp-client-local"><i class="fa fa-map-marker"></i> '+client.local+'</div>';
		str += '				</div>';
		str += '			</div>';
		str += '			<div class="fa fa-star sp-client-favicon '+($.inArray( client.id, sp.user.fav_clients ) != -1?"active":"")+'"></div>';
		str += '					<div class="sp-client-nif">nif:'+client.nif+'</div>';
		str += '		</div>';
		str += '	</div>';
		
		client = $(str);
		$("#sp-client-list").append(client);
		client.children(".panel").on("click",null,function(e){
			if($(e.target).hasClass("sp-client-favicon"))
			{
				if(!$(e.target).hasClass("active")) {
					if(sp.user.fav_clients.length == 10) {
						toastr.warning("Número máximo de 10 clientes favoritos atingido");
						return false;
					}
				}
				$(e.target).toggleClass("active");
				$(e.target).closest(".sp-client").toggleClass("fav");
				
				var id = $(e.target).closest(".sp-client").attr("data-id");				
				var list = sp.user.fav_clients;
				var index = list.indexOf(id);
				if (index > -1) list.splice(index, 1);
				else list.push(id);				
				
				sp.db.user.update_fav_clients(list);
			}
			else
			{
				window.location.hash="##modal#client#"+$(this).attr("data-id")+"#open";
			}
		});
	}
	last = i;
	
	$(".sp-client-list-load-elements-first").html(first+1);
	$(".sp-client-list-load-elements-last").html(last);
	$(".sp-client-list-load-elements-total").html(clients.length);
	
	if(first==0) $("#sp-client-list-load-prev").attr("disabled","disabled");
	else $("#sp-client-list-load-prev").removeAttr("disabled");
	
	if(last>=clients.length) $("#sp-client-list-load-next").attr("disabled","disabled");
	else $("#sp-client-list-load-next").removeAttr("disabled");
	
	$("#sp-client-list-load-pages").empty();
	for(var i=0;i<clients.length / visible;i++) {
		$("#sp-client-list-load-pages").append('<option '+(page==i?"selected":"")+' value="'+i+'">Página '+(i+1)+'</option>');
	}
	
	$(".sp-client-list-load-pages-current").html(parseInt(page)+1);

	$("#sp-client-list-load-total").val(clients.length);
	
	$("#sp-client-list .sp-client").each(function(i,el){
		setTimeout(function(){$(el).addClass("visible");},( i * 40 ));
	});
	if($("#sp-client-list .sp-client").length==0)
		$("#sp-client-list-notification").show();
	else
		$("#sp-client-list-notification").hide();
};
$("#sp-client-list-load-total").val(sp.db.client.list.length);
$("#sp-client-list-load-page").change(function(){
	update_client_list ($(this).val(),$("#sp-client-list-load-visible").val(),$("#sp-clients-search-input").val());
});
$("#sp-client-list-load-prev").on("click",function() {
	$("#sp-client-list-load-page").val(parseInt($("#sp-client-list-load-page").val())-1).trigger("change");
});
$("#sp-client-list-load-next").on("click",function() {
	$("#sp-client-list-load-page").val(parseInt($("#sp-client-list-load-page").val())+1).trigger("change");
});
$("#sp-client-list-load-pages").change(function() {
	$("#sp-client-list-load-page").val($(this).val()).trigger("change");
});
var sp_clients_search_input_timeout;
$("#sp-clients-search-input").on("keyup",function(){
	if($("#sp-clients-search-input").val()=="")
		$("#sp-clients-search-input-reset").attr("disabled","disabled");
	else
		$("#sp-clients-search-input-reset").removeAttr("disabled");
	
	clearTimeout(sp_clients_search_input_timeout);
	sp_clients_search_input_timeout = setTimeout(function(){
		$("#sp-client-list-load-page").val(0);
		update_client_list ($("#sp-client-list-load-page").val(),$("#sp-client-list-load-visible").val(),$("#sp-clients-search-input").val());
	},500);
});
$("#sp-clients-tabs li").on("click",function(){
	$("#sp-clients-tabs li.active").removeClass("active");
	$(this).addClass("active");
	$("#sp-client-list-load-page").val(0);
	update_client_list ($("#sp-client-list-load-page").val(),$("#sp-client-list-load-visible").val(),$("#sp-clients-search-input").val());
});
$("#sp-clients-search-input-reset").on("click",function(){
	$("#sp-clients-search-input").val("").trigger("keyup");
});
$("#sp-clients-search-input-reset").attr("disabled","disabled");


$(".sp-update-target").on("sp-update-content",function(){
	$("#sp-client-list-load-page").trigger("change");
});
$(".sp-update-target").trigger("sp-update-content");
</script>