<script type="text/javascript">
$("title").html("Página inicial");
</script>
<ul class="nav nav-pills sp-page-tabs">
	<li class="active"><a href="#sp-dashboard-orders" data-toggle="tab"><i class="fa fa-shopping-cart"></i> Encomendas</a></li>
	<li data-sp-allow="01"><a href="#sp-dashboard-clients" data-toggle="tab"><i class="fa fa-users"></i> Clientes</a></li>
	<li><a href="#sp-dashboard-products" data-toggle="tab"><i class="fa fa-list"></i> Produtos</a></li>
</ul>


<div class="tab-content">
	<div class="tab-pane active" id="sp-dashboard-orders">
		<br>
		<div class="panel col-lg-6 col-sm-12" style="padding:0;">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th class="hidden-xs hidden-sm">Estado</th>
						<th class="hidden-xs hidden-sm">Encomenda</th>
						<th class="hidden-xs hidden-sm">Cliente</th>
						<th class="hidden-xs hidden-sm">Preço <small>(c/IVA)</small></th>
						<th class="hidden-md hidden-lg"><small>Estado</small></th>
						<th class="hidden-md hidden-lg" nowrap><small>Encomenda/Data</small></th>
						<th class="hidden-md hidden-lg"><small>Cliente/Preço</small></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane" id="sp-dashboard-clients" data-sp-allow="01">
		<br>
		<div class="panel col-lg-6 col-sm-12" style="padding:0;">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th class="hidden-xs hidden-sm">Cliente</th>
						<th class="hidden-xs hidden-sm">NIF</th>
						<th class="hidden-xs hidden-sm">Notas</th>
						<th class="hidden-md hidden-lg"><small>Cliente</small></th>
						<th class="hidden-md hidden-lg"><small>NIF</small></th>
						<th class="hidden-md hidden-lg"><small>Notas</small></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane" id="sp-dashboard-products">
		<br>
		<div class="panel col-lg-6 col-sm-12" style="padding:0;">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th class="hidden-xs hidden-sm" colspan="2">Produto</th>
						<th class="hidden-md hidden-lg" colspan="2"><small>Produto</small></th>
						<th class="hidden-xs hidden-sm">Preço</th>
						<th class="hidden-md hidden-lg"><small>Preço</small></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>

/*var total = 0;
for(var x in localStorage) {
  var amount = (localStorage[x].length * 2) / 1024 / 1024;
  total += amount;
  console.log( x + " = " + amount.toFixed(2) + " MB");
}
console.log( "Total: " + total.toFixed(2) + " MB");*/

$(".sp-update-target").on("sp-update-content",function(){
	
	$("#sp-dashboard-orders tbody").empty();
	var counter = 0;
	for (var i in sp.db.notes.list)
	{
		if(sp.db.notes.list[i].user_id != sp.user.id && sp.db.notes.list[i].client_id != sp.user.client_id && sp.user.tipo!=sp.db.users.types.admin) continue;
		dashboard_print_note(sp.db.notes.list[i]);
		counter++;
		if(counter==5) break;
	}
	if($("#sp-dashboard-orders tbody tr").length == 0)
		$("#sp-dashboard-orders tbody").append('<tr><td colspan="4"><div class="alert alert-info" style="margin:0;"><i class="fa fa-info-circle"></i> Sem encomendas registadas</div></td></tr>');

	$("#sp-dashboard-clients tbody").empty();
	clients = sp.db.client.filter({favorites:true});
	var counter = 0;
	for (var i in clients)
	{
		dashboard_print_client(clients[i]);
		counter++;
		if(counter==10) break;
	}
	if($("#sp-dashboard-clients tbody tr").length == 0)
		$("#sp-dashboard-clients tbody").append('<tr><td colspan="3"><div class="alert alert-info" style="margin:0;"><i class="fa fa-info-circle"></i> Aceda à <a href="#clients">página de clientes</a> para definir favoritos.</div></td></tr>');


	$("#sp-dashboard-products tbody").empty();
	products = sp.db.products.filter({favorites:true});
	var counter = 0;
	for (var i in products)
	{
		dashboard_print_product(products[i]);
		counter++;
		if(counter==10) break;
	}
	if($("#sp-dashboard-products tbody tr").length == 0)
		$("#sp-dashboard-products tbody").append('<tr><td colspan="3"><div class="alert alert-info" style="margin:0;"><i class="fa fa-info-circle"></i> Aceda à <a href="#products">página de produtos</a> para definir favoritos.</div></td></tr>');
});
$(".sp-update-target").trigger("sp-update-content");

function dashboard_print_note(note) {
	var str = '';		
	str += '	<tr>';
	if(note.estado == 0)
		str += '		<td nowrap style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-default" data-toggle="tooltip" title="Pendente"><i class="fa fa-clock-o"></i></span></td>';
	else if(note.estado == 1)
		str += '		<td nowrap style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-warning" data-toggle="tooltip" title="Em pagamento"><i class="fa fa-credit-card"></i></span></td>';
	else if(note.estado == 2)
		str += '		<td nowrap style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-primary" data-toggle="tooltip" title="Pago, em progresso"><i class="fa fa-truck"></i></span></td>';
	else if(note.estado == 3)
		str += '		<td nowrap style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-danger" data-toggle="tooltip" title="Rejeitada"><i class="fa fa-times"></i></span></td>';
	else if(note.estado >= 4)
		str += '		<td nowrap style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-success" data-toggle="tooltip" title="Tratada"><i class="fa fa-check"></i></span></td>';
	str += '		<td nowrap style="vertical-align:middle;"><a href="##modal#note#'+note.id+'#open">'+note.codigo+'</a><small style="display:block;line-height:1em;" class="text-muted">'+note.data+'</small></td>';
	var client = sp.db.client.get_details(note.client_id);
	var payee_client = "";
	if(note.payee_id != note.client_id) payee_client = "<small style='color:#aaa;display:block;margin-top:-3px;'>Faturado a: "+note.payee_nome+"</small>";	
	if(client && client.nome == note.client_nome) {
		str += '		<td style="vertical-align:middle;"><a href="##modal#client#'+note.client_id+'#open">'+note.client_nome+'</a>'+payee_client+'<div class="visible-xs"><span class="label label-success" style="display:inline-block;">'+sp.utils.format_price(note.preco)+'&euro;</span></div></td>';	
	}
	else {
		str += '		<td style="vertical-align:middle;">'+note.client_nome+payee_client+'<div class="visible-xs"><span class="label label-success" style="display:inline-block;">'+sp.utils.format_price(note.preco)+'&euro;</span></div></td>';
	}
	str += '		<td class="hidden-xs" nowrap style="width:100px;vertical-align:middle;"><span class="label label-success" style="font-size:1em;display:block;">'+sp.utils.format_price(note.preco)+'&euro;</span></td>';
	str += '	</tr>';
	note = $(str);
	$("#sp-dashboard-orders tbody").append(note);
}


function dashboard_print_client(client) {
	var notes = sp.db.notes.get_by_client_id(client.id);
	var str = '';		
	str += '	<tr>';
	str += '		<td style="vertical-align:middle;"><a href="##modal#client#'+client.id+'#open">'+client.nome+'</a><small style="display:block;line-height:1em;" class="text-muted">'+client.codigo+'</small></td>';
	str += '		<td nowrap style="width:90px;vertical-align:middle;">'+client.nif+'</td>';
	str += '		<td nowrap style="width:60px;vertical-align:middle;"><a href="##modal#client#'+client.id+'#open">'+notes.length+'</a></td>';
	str += '	</tr>';
	client = $(str);
	$("#sp-dashboard-clients tbody").append(client);
}
function dashboard_print_product(product) {
	var str = '';		
	str += '	<tr>';
	str += '		<td style="width:30px;height:30px;"><img src="'+sp.db.images.get(product.codigo+".jpg")+'" style="width:30px;height:30px;" /></td>';
	str += '		<td style="vertical-align:middle"><a href="##modal#product#'+product.id+'#open">'+product.nome+'</a><small style="display:block;line-height:1em;" class="text-muted">'+product.tipo_codigo+':'+product.codigo+'</small></td>';
	str += '		<td nowrap style="width:80px;vertical-align:middle;"><span class="label label-success" style="font-size:1em;display:block;">'+sp.db.products.get_price(product.id,true)+'&euro;</span></td>';
	str += '	</tr>';
	product = $(str);
	$("#sp-dashboard-products tbody").append(product);
}
</script>						
						