<script type="text/javascript">
$("title").html("Notas de encomenda");
</script>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input id="sp-notes-search-input" type="search" class="form-control" placeholder="Pesquisar nota">
			<span class="input-group-addon btn btn-default" id="sp-notes-search-input-reset"><i class="fa fa-times"></i></span>
		</div>
		<table id="sp-notes-search-input-fields" style="margin-bottom:0px;font-size: 85%;line-height:20px;">
		<tr><td style="vertical-align: middle;">
			<input type="checkbox" id="sp-notes-search-input-numero" checked>
			<label style="margin-right:5px;vertical-align: middle;" for="sp-notes-search-input-numero">Número</label>
			
			<input type="checkbox" id="sp-notes-search-input-cliente">
			<label style="margin-right:5px;vertical-align: middle;" for="sp-notes-search-input-cliente">Cliente</label>
			
			<input type="checkbox" id="sp-notes-search-input-vendedor">
			<label style="margin-right:5px;vertical-align: middle;" for="sp-notes-search-input-vendedor">Vendedor</label>
		</td></tr>
		</table>
	</div>
</div>
<div style="margin-bottom:60px;" class="row">
	<div class="col-md-12">
		<div class="panel" style="padding:0">
			<table style="width:100%;" class="table table-striped table-condensed">
				<thead>
					<tr>
						<th class="hidden-xs hidden-sm">Estado</th>
						<th class="hidden-xs hidden-sm">Encomenda</th>
						<th class="hidden-xs hidden-sm">Cliente</th>
						<th data-sp-allow="01" class="hidden-xs hidden-sm">Vendedor</th>
						<th class="hidden-xs hidden-sm">Preço <small>(c/IVA)</small></th>

						<th class="hidden-md hidden-lg"><small>Estado</small></th>
						<th class="hidden-md hidden-lg"><small>Encomenda/Data</small></th>
						<th class="hidden-md hidden-lg"><small>Cliente/Preço</small></th>
						<th data-sp-allow="01" class="hidden-xs hidden-md hidden-lg"><small>Vendedor</small></th>
					</tr>
				</thead>
				<tbody id="sp-notes-list"></tbody>
			</table>
		</div>
	</div>
</div>

<div class="sp-inpage-pagination">
		<input type="hidden" id="sp-notes-list-load-page" value="0" />
		<input type="hidden" id="sp-notes-list-load-visible" value="10" />
		<input type="hidden" id="sp-notes-list-load-total" value="0" /> 
		<small><span>A apresentar <span class="sp-notes-list-load-elements-first">-</span> a <span class="sp-notes-list-load-elements-last">-</span> de <span class="sp-notes-list-load-elements-total">-</span></span></small>
		<div class="input-group">
			<span class="input-group-addon btn btn-default" id="sp-notes-list-load-prev"><i style="margin-right:5px;" class="fa fa-chevron-circle-left"></i> Anterior</span>
			<select class="form-control" id="sp-notes-list-load-pages"></select>
			<span class="input-group-addon btn btn-default" id="sp-notes-list-load-next">Seguinte <i style="margin-left:5px;" class="fa fa-chevron-circle-right"></i></span>
		</div>
	</div>

<script type="text/javascript">

//localStorage["notes"] = "";

$(".sp-update-target").on("sp-update-content",function(){	
	$("#sp-note-list").empty();
	if(sp.db.notes.list.length==0) {
		$("#sp-notes-list").append('<tr><td colspan="20"><div class="alert alert-info" style="margin:0;"><i class="fa fa-info-circle"></i> Não foram encontradas notas</div></td></tr>');
	}
	$(".sp-notes-load-modal").off("click").on("click",function(){
		window.location.hash="##modal#note#"+$(this).attr("data-id")+"#open";
	});
	$(".sp-notes-add-to-order").off("click").on("click",function(){
		var note_id = $(this).attr("data-id");
		bootbox.dialog({
			message: "<div class='alert alert-warning'><i class='fa fa-warning'></i> Pretende adicionar as quantidades e produtos desta nota à nova encomenda?</div>",
			title: "Confirmar",
			buttons: {
				danger: {
					label: "<i class='fa fa-times'></i> Cancelar",
					className: "btn-default"
				},
				success: {
					label: "<i class='fa fa-check'></i> Confirmar",
					className: "btn-primary",
					callback: function() {
						sp.order.add.note(note_id);
					}
				}
			}
		});
	});
});
$(".sp-update-target").trigger("sp-update-content");

/* var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
var possiblecodes = ['EAN','CNP'];
var products = new Array();
sp.loading.show({overlay: true, text: "A inserir produtos ..."});
for (var i = 0;i < 500;i++) {var product = {};j = Math.round(Math.random());product.tipo_codigo = possiblecodes[j];product.codigo = "12300"+i;product.nome = possible.charAt(Math.floor(Math.random() * possible.length))+" nome "+i;product.preco = Math.floor(Math.random()*99+1)+".00";product.bonus = Math.floor(Math.random()*5)*10;product.iva = Math.floor(Math.random()*99);products.push(product);}
sp.ws.put({url:"products",data:{"products":products},callbacks:{"200":function(data,status,jqXHR){sp.loading.hide();},"error":function(data,status,jqXHR){sp.loading.hide();}}}); */

	//alert(sp.db.notes.last_id);



function update_notes_list (page,visible,filter_string) {
	first = parseInt(page)*parseInt(visible);
	last = parseInt(first)+parseInt(visible);
	notes = sp.db.notes.filter({
		all: 		filter_string,
		numero:		$("#sp-notes-search-input-numero").is(":checked"),
		cliente: 	$("#sp-notes-search-input-cliente").is(":checked"),
		vendedor:	$("#sp-notes-search-input-vendedor").is(":checked"),
		codigo: 	false
	});
	$("#sp-notes-list").empty();
	for (var i=first;i<parseInt(first)+parseInt(visible);i++)
	{
		if(i==notes.length) break;
		var note = notes[i];
		var str = '';		
		str += '	<tr class="sp-note" data-id="'+note.id+'">';
		if(note.estado == 0)
			str += '		<td style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-default sp-note-status" data-toggle="tooltip" title="Pendente"><i class="fa fa-clock-o"></i></span></td>';
		else if(note.estado == 1)
			str += '		<td style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-warning sp-note-status" data-toggle="tooltip" title="Em pagamento"><i class="fa fa-credit-card"></i></span></td>';
		else if(note.estado == 2)
			str += '		<td style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-primary sp-note-status" data-toggle="tooltip" title="Pago, em progresso"><i class="fa fa-truck"></i></span></td>';
		else if(note.estado == 3)
			str += '		<td style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-danger sp-note-status" data-toggle="tooltip" title="Rejeitada"><i class="fa fa-times"></i></span></td>';
		else if(note.estado >= 4)
			str += '		<td style="width:30px;vertical-align:middle;" class="text-center"><span class="label label-success sp-note-status" data-toggle="tooltip" title="Tratada"><i class="fa fa-check"></i></span></td>';
		str += '		<td style="vertical-align:middle;"><a href="##modal#note#'+note.id+'#open">'+note.codigo+'</a><br><small style="display:block;line-height:1em;" class="text-muted">'+note.data+'</small></td>';
		
		var client = sp.db.client.get_details(note.client_id);
		var payee_client = "";
		if(note.payee_id != note.client_id) payee_client = "<small style='color:#aaa;display:block;margin-top:-3px;'>Faturado a: "+note.payee_nome+"</small>";
		if(client && client.nome == note.client_nome) {
			str += '		<td style="vertical-align:middle;"><a href="##modal#client#'+note.client_id+'#open">'+note.client_nome+'</a>'+payee_client+'<div class="visible-sm visible-xs"><span class="label label-success" style="display:inline-block;">'+sp.utils.format_price(note.preco)+' &euro;</span></div></td>';	
		}
		else {
			str += '		<td style="vertical-align:middle;">'+note.client_nome+payee_client+'<div class="visible-sm visible-xs"><span class="label label-success" style="display:inline-block;">'+sp.utils.format_price(note.preco)+' &euro;</span></div></td>';
		}
		
		var user = sp.db.users.get_details(note.user_id);
		if(user && user.nome == note.user_nome) {
			str += '		<td style="vertical-align:middle;" data-sp-allow="01" class="hidden-xs"><a href="##modal#user#'+note.user_id+'#open">'+note.user_nome+'</a></td>';	
		}
		else {
			str += '		<td style="vertical-align:middle;" data-sp-allow="01" class="hidden-xs">'+note.user_nome+'</td>';			
		}
		
		str += '		<td nowrap style="width:100px;vertical-align:middle;" class="hidden-xs hidden-sm"><span class="label label-success" style="font-size:1em;display:block;">'+sp.utils.format_price(note.preco)+' &euro;</span></td>';
		str += '	</tr>';
		note = $(str);
		$("#sp-notes-list").append(note);
	}
	last = i;
	
	$(".sp-notes-list-load-elements-first").html(first+1);
	$(".sp-notes-list-load-elements-last").html(last);
	$(".sp-notes-list-load-elements-total").html(notes.length);
	
	if(first==0) $("#sp-notes-list-load-prev").attr("disabled","disabled");
	else $("#sp-notes-list-load-prev").removeAttr("disabled");
	
	if(last>=notes.length) $("#sp-notes-list-load-next").attr("disabled","disabled");
	else $("#sp-notes-list-load-next").removeAttr("disabled");
	
	$("#sp-notes-list-load-pages").empty();
	for(var i=0;i<notes.length / visible;i++) {
		$("#sp-notes-list-load-pages").append('<option '+(page==i?"selected":"")+' value="'+i+'">Página '+(i+1)+'</option>');
	}
	
	$(".sp-notes-list-load-pages-current").html(parseInt(page)+1);

	$("#sp-notes-list-load-total").val(notes.length);
	if($("#sp-notes-list tr").length==0) {
		$("#sp-notes-list").append('<tr><td colspan="20"><div class="alert alert-info" style="margin:0;"><i class="fa fa-info-circle"></i> Não foram encontradas notas</div></td></tr>');
	}


	
	$(".sp-notes-load-modal").off("click").on("click",function(){
		window.location.hash="##modal#note#"+$(this).attr("data-id")+"#open";
	});
	$(".sp-notes-add-to-order").off("click").on("click",function(){
		var note_id = $(this).attr("data-id");
		bootbox.dialog({
			message: "<div class='alert alert-warning'><i class='fa fa-warning'></i> Pretende adicionar as quantidades e produtos desta nota à nova encomenda?</div>",
			title: "Confirmar",
			buttons: {
				danger: {
					label: "<i class='fa fa-times'></i> Cancelar",
					className: "btn-default"
				},
				success: {
					label: "<i class='fa fa-check'></i> Confirmar",
					className: "btn-primary",
					callback: function() {
						sp.order.add.note(note_id);
					}
				}
			}
		});
	});
};
$("#sp-notes-list-load-total").val(sp.db.notes.list.length);
$("#sp-notes-list-load-page").change(function(){
	update_notes_list ($(this).val(),$("#sp-notes-list-load-visible").val(),$("#sp-notes-search-input").val());
});
$("#sp-notes-list-load-prev").on("click",function() {
	$("#sp-notes-list-load-page").val(parseInt($("#sp-notes-list-load-page").val())-1).trigger("change");
});
$("#sp-notes-list-load-next").on("click",function() {
	$("#sp-notes-list-load-page").val(parseInt($("#sp-notes-list-load-page").val())+1).trigger("change");
});
$("#sp-notes-list-load-pages").change(function() {
	$("#sp-notes-list-load-page").val($(this).val()).trigger("change");
});
var sp_notes_search_input_timeout;
$("#sp-notes-search-input").on("keyup",function(){
	if($("#sp-notes-search-input").val()=="")
		$("#sp-notes-search-input-reset").attr("disabled","disabled");
	else
		$("#sp-notes-search-input-reset").removeAttr("disabled");
	
	clearTimeout(sp_notes_search_input_timeout);
	sp_notes_search_input_timeout = setTimeout(function(){
		$("#sp-notes-list-load-page").val(0);
		update_notes_list ($("#sp-notes-list-load-page").val(),$("#sp-notes-list-load-visible").val(),$("#sp-notes-search-input").val());
	},500);
});
$("#sp-notes-tabs li").on("click",function(){
	$("#sp-notes-tabs li.active").removeClass("active");
	$(this).addClass("active");
	$("#sp-notes-list-load-page").val(0);
	update_notes_list ($("#sp-notes-list-load-page").val(),$("#sp-notes-list-load-visible").val(),$("#sp-notes-search-input").val());
});
$("#sp-notes-search-input-fields input").change(function(){
	if($("#sp-notes-search-input-fields input:checked").length>0) 
		$("#sp-notes-search-input").removeAttr("disabled");
	else 
		$("#sp-notes-search-input").attr("disabled","disabled");
	$("#sp-notes-list-load-page").val(0);
	update_notes_list ($("#sp-notes-list-load-page").val(),$("#sp-notes-list-load-visible").val(),$("#sp-notes-search-input").val());
});
$("#sp-notes-search-input-reset").on("click",function(){
	$("#sp-notes-search-input").val("").trigger("keyup");
});
$("#sp-notes-search-input-reset").attr("disabled","disabled");


$(".sp-update-target").on("sp-update-content",function(){
	$("#sp-notes-list-load-page").trigger("change");
});
$(".sp-update-target").trigger("sp-update-content");

</script>