<script type="text/javascript">
$("title").html("Notificações");
</script>
<div id="sp-notifications" class="row">
	<div class="col-md-12 sp-notification template">
		<div class="panel" style="padding:0;">
			<div style="padding:5px 10px;padding-left:40px;display:block;position:relative;">
				<div class="label" style="margin-right:10px;display:inline-block;position:absolute;left:0;top:0;bottom:0;width:30px;text-align:center;vertical-align:middle;">
					<i class="fa" style="vertical-align:middle;line-height:28px;font-size:14px;"></i>
				</div>
				<b class="title"></b> <small class="data text-muted"></small>
			</div>
			<div class="hidden-xs hidden-sm">
				<table class="table table-bordered" style="font-size:.85em;margin:0;">
					<tr>
						<td style="background:#eee;width:50px;">Encomenda:</td><td><a href="" class="encomenda">JS123123123</a></td>
						<td style="background:#eee;width:50px;">Vendedor:</td><td><a href="##modal#user#0#open" class="vendedor">José Santos</a></td>
						<td style="background:#eee;width:50px;">Cliente:</td><td><a href="##modal#client#0#open" class="cliente">José Cliente</a></td>
						<!--<td>Produto: <a href="##modal#product#0#open" class="produto">Produto</a></td>-->
						<td style="background:#eee;width:50px;">Comentário:</td><td><span class="comentario">-</span></td>
					</tr>
				</table>
			</div>
			<div class="hidden-md hidden-lg">
				<table class="table table-bordered table-condensed" style="font-size:.85em;margin:0;">
					<tr>
						<td style="background:#eee;width:50px;">Encomenda:</td><td><a href="" class="encomenda">JS123123123</a></td>
					</tr>
					<tr>
						<td style="background:#eee;width:50px;">Vendedor:</td><td><a href="##modal#user#0#open" class="vendedor">José Santos</a></td>
					</tr>
					<tr>
						<td style="background:#eee;width:50px;">Cliente:</td><td><a href="##modal#client#0#open" class="cliente">José Cliente</a></td>
					</tr>
					<tr>
						<!--<td>Produto: <a href="##modal#product#0#open" class="produto">Produto</a></td>-->
						<td style="background:#eee;width:50px;">Comentário:</td><td><span class="comentario">-</span></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<button class="btn btn-default sp-show-more-notifications"><i class="fa fa-plus"></i> Mostrar mais 10...</button>
	</div>
</div>
<script type="text/javascript">
$(".sp-show-more-notifications").on("click",function(){
	$("#sp-notifications .sp-notification:not(.visible):not(.template):lt(20)").show().addClass("visible");
	if($("#sp-notifications .sp-notification:not(.visible)").length<=1)
		$(this).hide();
});
$(".sp-update-target").on("sp-update-content",function(){
	$("#sp-notifications .sp-notification:not(.template)").remove();
	for ( var i in sp.db.notifications.list ) {
		var notification = sp.db.notifications.list[i];
		if(notification.type!="mb_payment" && notification.type!="note_new" && notification.type!="note_closed" && notification.type!="note_cancelled") continue;
 		
 		if(notification.status=="1") {
			var fields = notification.comment.split("|");
			var user = sp.db.users.get_details(notification.user_id);
			var client = sp.db.users.get_details(notification.client_id);

			var element = $("#sp-notifications .template").clone();
			element.removeClass("template");

			element.find(".data").html(notification.data);
			element.find(".encomenda").attr("href","##modal#note#"+notification.note_id+"#open");
			element.find(".vendedor").html(user.name);
			if(sp.user.tipo!=sp.db.users.types.client)
				element.find(".vendedor").attr("href","##modal#user#"+notification.user_id+"#open");
			element.find(".cliente").html(client.name);
			element.find(".cliente").attr("href","##modal#client#"+notification.client_id+"#open");	

			if(notification.type=="mb_payment") {
				element.find("i").addClass("fa-euro");
				element.find(".label").addClass("label-success");
				element.find(".title").html("Pagamento recebido");	
				element.find(".encomenda").html(fields[0]);
				element.find(".comentario").html("Referência: "+fields[2]+", Valor: "+fields[3]+"€");
			}
			else if(notification.type=="note_new") {
				element.find("i").addClass("fa-shopping-cart");
				element.find(".label").addClass("label-primary");
				element.find(".title").html("Nova encomenda");	
				element.find(".encomenda").html(fields[0]);
			}
			else if(notification.type=="note_closed") {
				element.find("i").addClass("fa-check");
				element.find(".label").addClass("label-success");
				element.find(".title").html("Encomenda fechada");	
				element.find(".encomenda").html(fields[0]);
				element.find(".comentario").html("Fechada por <a href='##modal#user#"+fields[1]+"#open'>"+fields[2]+"</a>");
			}
			else if(notification.type=="note_cancelled") {
				element.find("i").addClass("fa-times");
				element.find(".label").addClass("label-danger");
				element.find(".title").html("Encomenda cancelada");	
				element.find(".encomenda").html(fields[0]);
				element.find(".comentario").html("Cancelada por <a href='##modal#user#"+fields[1]+"#open'>"+fields[2]+"</a>");
			}
		}

		$("#sp-notifications").append(element);
	}
	$(".sp-show-more-notifications").show().trigger("click");
	$("#sp-notifications .template").hide();
});
$(".sp-update-target").trigger("sp-update-content");
</script>