<script type="text/javascript">
$("title").html("Finalização de encomenda");
</script>
<div class="row">
	<div class="col-md-6" id="sp-final-order-final-entity">
		<h4 class="sp-header"><i class="fa fa-user"></i> Cliente final</h4>
		<div class="panel" style="padding:0;">
			<table class="table">
				<tr>
					<th>Cliente</th>
					<td>
						<span class="sp-order-client-nome"></span>
						<small class="text-muted sp-order-client-codigo"></small>
					</td>
				</tr>
				<tr>
					<th>E-mail</th>
					<td>
						<a class="sp-order-client-email" href="#"></a>
					</td>
				</tr>
				<tr>
					<th>NIF</th>
					<td class="sp-order-client-nif"></td>
				</tr>
				<tr>
					<th>Responsável</th>
					<td class="sp-order-client-responsavel"></td>
				</tr>
				<tr>
					<th>Morada de faturação</th>
					<td class="sp-order-client-morada"></td>
				</tr>
			</table>
		</div>
	</div>
	<div data-sp-allow="01" class="col-md-6" id="sp-final-order-bill-entity">
		<h4 class="sp-header"><i class="fa fa-user"></i> Cliente para faturação</h4>
		<div class="panel" style="padding:0;margin-bottom:10px;">
			<table class="table">
				<tr>
					<th>Cliente</th>
					<td>
						<span class="sp-order-client-nome"></span>
						<small class="text-muted sp-order-client-codigo"></small>
					</td>
				</tr>
				<tr>
					<th>E-mail</th>
					<td>
						<a class="sp-order-client-email" href="#"></a>
					</td>
				</tr>
				<tr>
					<th>NIF</th>
					<td class="sp-order-client-nif"></td>
				</tr>
				<tr>
					<th>Responsável</th>
					<td class="sp-order-client-responsavel"></td>
				</tr>
				<tr>
					<th>Morada de faturação</th>
					<td class="sp-order-client-morada"></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            Para alterar os clientes, volte à página de encomenda clicando no botão <a class="btn btn-default btn-xs" href="#dashboard#modal#order#open"><i class="fa fa-mail-reply"></i> Editar</a>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4 class="sp-header"><i class="fa fa-info"></i> Adicionar comentário (Opcional)</h4>
		<textarea id="sp-order-comment" class="form-control" placeholder="Adicione um comentário"></textarea>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h4 class="sp-header"><i class="fa fa-list"></i> Produtos</h4>
		<div class="panel" style="padding:0;">
			<table class="table table-striped table-bordered" id="sp-final-order-products">
				<thead>
					<tr>
						<td></td>
						<td>Produto</td>
						<td><span class="hidden-xs hidden-sm">Qtd.</span><span class="hidden-md hidden-lg">Encomenda</span></td>
                        <td class="hidden-xs hidden-sm">&euro;/Un.</td>
                        <td class="hidden-xs hidden-sm">Dsct.</td>
                        <td class="hidden-xs hidden-sm">IVA</td>
						<td class="hidden-xs hidden-sm">Subtotal</td>
					</tr>
				</thead>
				<tbody class="product-list">
				</tbody>
				<tfoot>
					<tr style="background:#eee;">
						<th colspan="4" style="border-right:0;" class="hidden-xs hidden-sm"></th>
						<th colspan="2" style="text-align:right;vertical-align:middle;border-left:0;"><small>Total sem IVA</small></th>
						<td><small id="sp-final-order-total-price-no-iva"></small></td>
					</tr>
					<tr style="background:#eee;">
						<th colspan="4" style="border-right:0;" class="hidden-xs hidden-sm"></th>
						<th colspan="2" style="text-align:right;vertical-align:middle;border-left:0;"><small>Valor do IVA</small></th>
						<td><small id="sp-final-order-total-price-iva"></small></td>
					</tr>
					<tr>
						<th colspan="4" style="border-right:0;" class="hidden-xs hidden-sm"></th>
						<th colspan="2" style="text-align:right;vertical-align:middle;border-left:0;"><b>Total</b></th>
						<td><span class="label label-success" style="display:block;font-size:1em;padding:.6em .6em .5em;"><b id="sp-final-order-total-price"></b></span></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<a class="btn btn-default" style="line-height:2em;" href="#dashboard#modal#order#open"><i class="fa fa-mail-reply"></i> Editar</a>
		<a class="btn btn-danger sp-final-order-cancel" style="line-height:2em;"><i class="fa fa-times"></i> Cancelar</a>
		<a class="btn btn-primary sp-final-order-confirm" style="line-height:2em;"><i class="fa fa-check"></i> Finalizar</a>
	</div>
</div>

<script>

if(sp.order.client==null || sp.order.list.length==0)
{
	window.location.hash = "#dashboard";
}

var client = sp.db.client.get_details(sp.order.client);

$("#sp-final-order-final-entity .sp-order-client-nome").html(client.nome+"<br>");
$("#sp-final-order-final-entity .sp-order-client-codigo").html(client.codigo+"<br>");
$("#sp-final-order-final-entity .sp-order-client-email").html(client.email).attr("href","mailto:"+client.email);
$("#sp-final-order-final-entity .sp-order-client-nif").html(client.nif);
$("#sp-final-order-final-entity .sp-order-client-responsavel").html(client.responsavel);
$("#sp-final-order-final-entity .sp-order-client-morada").html(client.morada);

$("#sp-final-order-bill-entity").on("update-content",function() {
	if(sp.order.bill_client!=null)
	{
		var client = sp.db.client.get_details(sp.order.bill_client);
		$("#sp-final-order-bill-entity .sp-order-client-nome").html(client.nome+"<br>");
		$("#sp-final-order-bill-entity .sp-order-client-codigo").html(client.codigo+"<br>");
		$("#sp-final-order-bill-entity .sp-order-client-email").html(client.email).attr("href","mailto:"+client.email);
		$("#sp-final-order-bill-entity .sp-order-client-nif").html(client.nif);
		$("#sp-final-order-bill-entity .sp-order-client-responsavel").html(client.responsavel);
		$("#sp-final-order-bill-entity .sp-order-client-morada").html(client.morada);
	}
	else {
		$("#sp-final-order-bill-entity .sp-order-client-nome").empty();
		$("#sp-final-order-bill-entity .sp-order-client-codigo").empty();
		$("#sp-final-order-bill-entity .sp-order-client-email").empty();
		$("#sp-final-order-bill-entity .sp-order-client-nif").empty();
		$("#sp-final-order-bill-entity .sp-order-client-responsavel").empty();
		$("#sp-final-order-bill-entity .sp-order-client-morada").empty();
	}
});
if(sp.order.bill_client == null) {
    $("#sp-final-order-bill-entity").hide();
}
else {
    var client = sp.db.client.get_details(sp.order.bill_client);
    $("#sp-final-order-bill-entity .sp-order-client-nome").html(client.nome+"<br>");
    $("#sp-final-order-bill-entity .sp-order-client-codigo").html(client.codigo+"<br>");
    $("#sp-final-order-bill-entity .sp-order-client-email").html(client.email).attr("href","mailto:"+client.email);
    $("#sp-final-order-bill-entity .sp-order-client-nif").html(client.nif);
    $("#sp-final-order-bill-entity .sp-order-client-responsavel").html(client.responsavel);
    $("#sp-final-order-bill-entity .sp-order-client-morada").html(client.morada);
    $("#sp-final-order-bill-entity").show();
}
$("#sp-final-order-products tbody.product-list").empty();
var preco_total = 0;
var iva_total = 0;
var quantidade_total = 0;
for(var i in sp.order.list) {
	var order = sp.order.list[i];
	var product = sp.db.products.get_details(order.id);
	
	var preco = Math.round(((1-parseFloat(order.discount)/100)*parseFloat(order.quantity)*sp.db.products.get_price(product.id)) * 100) / 100;
	var valor_iva_unitario = Math.round((parseFloat(product.iva) * (1-parseFloat(order.discount)/100)* sp.db.products.get_price(product.id) / 100) * 100) / 100;
	var valor_iva = Math.round((parseFloat(product.iva) * preco / 100) * 100) / 100;

	preco = Math.round(preco * 100) / 100;
	valor_iva = Math.round(valor_iva * 100) / 100;
	
	preco_total += preco;
	iva_total += valor_iva;
	
	var text = '';

	text += '<tr>';
	text += '<td style="width:35px;height:35px;">';
	text += '<img class="sp-product-image-popup" data-image="'+product.codigo+".jpg"+'" src="'+sp.db.images.get(product.codigo+".jpg")+'" style="width:35px;height:35px;" />';
	text += '</td>';
	text += '<td>';
	text += ''+product.nome+'<br>';
	text += '<span class="label label-default">'+product.tipo_codigo+":"+product.codigo+'</span><br class="hidden-md hidden-lg">';
	text += '<span class="label label-primary">+'+order.bonus+' bonus</span>';
	text += '</td>';
	text += '<td class="hidden-xs hidden-sm">'+order.quantity+'</td>';
	text += '<td class="hidden-md hidden-lg"><table style="width:100%;">';
	text += '<tr><td><small style="color:#aaa">Qtd:</small></td><td>'+order.quantity+'</td></tr>';
	text += '<tr><td><small style="color:#aaa">&euro;/Un.:</small></td><td>'+sp.db.products.get_price(product.id,true)+'&euro;</td></tr>';
    text += '<tr><td><small style="color:#aaa">Dsct.:</small></td><td>'+order.discount+'%</td></tr>';
	text += '<tr><td><small style="color:#aaa">IVA:</small></td><td>'+product.iva+'%</td></tr>';
	//text += '<tr><td colspan="2"><span class="label label-success sp-tooltip" data-toggle="tooltip" title="Valor: '+order.quantity+' x '+sp.utils.format_price(product.preco)+' &euro; = '+sp.utils.format_price(preco)+' &euro;<br>+<br>IVA: '+order.quantity+' x '+sp.utils.format_price(valor_iva_unitario)+' &euro; = '+sp.utils.format_price(valor_iva)+' &euro;" style="font-size:.9em;display:block;">'+sp.utils.format_price(Math.round((preco+valor_iva) * 100) / 100)+' &euro;</span></td></tr>';
	text += '<tr><td colspan="2"><span class="label label-success" style="font-size:.9em;display:block;">'+sp.utils.format_price(preco)+' &euro;</span></td></tr>';
	text += '</table></td>';
	text += '<td class="hidden-xs hidden-sm">';
	text += ''+sp.db.products.get_price(product.id,true)+' &euro;';
	text += '</td>';
    text += '<td class="hidden-xs hidden-sm">'+order.discount+'%</td>';
    text += '<td class="hidden-xs hidden-sm">'+product.iva+'%</td>';
	text += '<td class="hidden-xs hidden-sm">';
	//text += '<span class="label label-success sp-tooltip" data-toggle="tooltip" title="Valor: '+order.quantity+' x '+sp.utils.format_price(product.preco)+' &euro; = '+sp.utils.format_price(preco)+' &euro;<br>+<br>IVA: '+order.quantity+' x '+sp.utils.format_price(valor_iva_unitario)+' &euro; = '+sp.utils.format_price(valor_iva)+' &euro;" style="display:block;font-size:.9em;padding:.6em .6em .5em;">'+sp.utils.format_price(Math.round((preco+valor_iva) * 100) / 100)+' &euro;</span>';
	text += '<span class="label label-success" style="display:block;font-size:.9em;padding:.6em .6em .5em;">'+sp.utils.format_price(preco)+' &euro;</span>';
	text += '</td>';
	text += '</tr>';
	
	$("#sp-final-order-products tbody.product-list").append(text);
}
	$(".sp-product-image-popup").css("cursor","pointer").off("click").on("click",function(){
		var image = $(this).attr("data-image");
		str = '';
		str = '<div style="padding:50px;background:#ddd;text-align:center;"><img src="'+$(this).attr("src")+'" height="200px" width="200px" style="background:#ffffff;" /></div>';
		bootbox.dialog({
			message: str,
			title: image
		});
	});
$('#sp-final-order-products tbody.product-list .sp-tooltip').tooltip({html: true});
$("#sp-final-order-total-price-no-iva").html(sp.utils.format_price(Math.round(preco_total * 100) / 100)+' &euro;');
$("#sp-final-order-total-price-iva").html(sp.utils.format_price(Math.round(iva_total * 100) / 100)+' &euro;');
$("#sp-final-order-total-price").html(sp.utils.format_price(Math.round((preco_total+iva_total) * 100) / 100)+' &euro;');

sp.order.valor = Math.round((preco_total+iva_total) * 100) / 100;

$(".sp-final-order-cancel").on("click",function(){
	bootbox.dialog({
		message: "<div class='alert alert-warning'><i class='fa fa-warning'></i> <b>Por favor confirme que pretende cancelar a encomenda.</b><br><br> Todas as informações relativas à encomenda serão removidas!</div>",
		title: "Confirmar",
		buttons: {
			success: {
				label: "<i class='fa fa-check'></i> Confirmar",
				className: "btn-primary",
				callback: function() {
					sp.order.client = null;
					sp.order.list = new Array();
					toastr.success("Encomenda cancelada");
					sp.order.update();
					window.location.href="#dashboard";
				}
			},
			danger: {
				label: "<i class='fa fa-times'></i> Cancelar",
				className: "btn-default"
			}
		}
	});
});
$(".sp-final-order-confirm").on("click",function(){
	sp.order.comment = $("#sp-order-comment").val();
	var message = "<div class='alert alert-info'><i class='fa fa-info-circle'></i> Confirmar e finalizar a encomenda?</div>";
	bootbox.dialog({
		message: message,
		title: "Confirmar",
		buttons: {
			success: {
				label: "<i class='fa fa-check'></i> Confirmar",
				className: "btn-primary",
				callback: function() {
					if(sp.order.generate_mb()) {
						sp.db.notes.create();
					} else {
						toastr.error("Ocorreu um erro ao gerar a referência MB.");
					}
				}
			},
			danger: {
				label: "<i class='fa fa-times'></i> Cancelar",
				className: "btn-default"
			}
		}
	});	
});
$("#shopping-cart").hide();
</script>