<script type="text/javascript">
$("title").html("Lista de produtos");
</script>

<ul class="nav nav-pills sp-page-tabs" id="sp-products-tabs" style="margin-bottom:5px;">
	<li class="active"><a href="#" class="sp-no-follow"><i class="fa fa-list"></i> Todos</a></li>
	<li class="sp-products-fav"><a href="#" class="sp-no-follow"><i class="fa fa-star"></i> Favoritos</a></li>
</ul>

<div class="row">
	<div id="sp-products-search-input-fields" class="col-md-6 col-md-offset-3">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input id="sp-products-search-input" type="search" class="form-control" placeholder="Pesquisar produto">
			<span class="input-group-addon btn btn-default" id="sp-products-search-input-reset"><i class="fa fa-times"></i></span>
		</div>
		<table cellpadding="0" cellspacing="0" style="width:100%;font-size:.9em;">
			<tr>
				<td style="width:50%;">
					<select id="sp-products-search-filters" class="selectpicker" title="Campos a filtrar" multiple data-width="100%">
						<option value="Nome" selected>Nome</option>
						<option value="Código" selected>Código</option>
					</select>
				</td>
				<td style="width:50%;">
					<select id="sp-products-search-families" class="selectpicker" multiple data-width="100%" data-selected-text-format="count>0" data-count-selected-text="Famílias: {0} de {1}" title="Famílias apresentadas">
					</select>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="alert alert-info" id="sp-product-list-notification"><i class="fa fa-info-circle"></i> Não foram encontrados produtos</div>
<div class="row" style="margin-bottom:60px;" id="sp-product-list"></div>

	<div class="sp-inpage-pagination">
		<input type="hidden" id="sp-product-list-load-page" value="0" />
		<input type="hidden" id="sp-product-list-load-visible" value="20" />
		<input type="hidden" id="sp-product-list-load-total" value="0" /> 
		<small><span>A apresentar <span class="sp-product-list-load-elements-first">-</span> a <span class="sp-product-list-load-elements-last">-</span> de <span class="sp-product-list-load-elements-total">-</span></span></small>
		<div class="input-group">
			<span class="input-group-addon btn btn-default" id="sp-product-list-load-prev"><i style="margin-right:5px;" class="fa fa-chevron-circle-left"></i> Anterior</span>
			<select class="form-control" id="sp-product-list-load-pages"></select>
			<span class="input-group-addon btn btn-default" id="sp-product-list-load-next">Seguinte <i style="margin-left:5px;" class="fa fa-chevron-circle-right"></i></span>
		</div>
	</div>
<script type="text/javascript">	

/* products = sp.db.products.filter({
	//nome: "Z nome 175",
	//nif: "50",
	all: true,
	string: "2370"
});
for(var i in products) console.log(products[i].nome); */

/*
var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
var possiblecodes = ['EAN','CNP'];
var products = new Array();
sp.loading.show({overlay: true, text: "A inserir produtos ..."});
for (var i = 0;i < 2;i++) {var product = {};j = Math.round(Math.random());product.tipo_codigo = possiblecodes[j];product.codigo = "12300"+i;product.nome = possible.charAt(Math.floor(Math.random() * possible.length))+" nome "+i;product.preco = Math.floor(Math.random()*99+1)+".00";product.bonus = Math.floor(Math.random()*5)*10;product.iva = Math.floor(Math.random()*99);products.push(product);}
sp.ws.put({url:"products",data:{"products":products},callbacks:{"200":function(data,status,jqXHR){sp.loading.hide();},"error":function(data,status,jqXHR){sp.loading.hide();}}});
*/

var families = new Array();
for (var i = 0; i < sp.db.products.list.length; i++) {
	if($.inArray(sp.db.products.list[i].familia,families) == -1)
		families.push(sp.db.products.list[i].familia);
};
families.sort();
for(var i in families) {
	$("#sp-products-search-families").append("<option value='"+families[i]+"'>"+(families[i]==""?"Nenhuma":families[i])+"</option>");
}

sp.utils.storage.get("products.search.filters",function(variable){
	$("#sp-products-search-filters option").prop("selected",false);
	for(var i in variable) {
		$("#sp-products-search-filters option[value='"+variable[i]+"']").prop("selected",true);
	}
	if($(".dropdown-toggle[data-id='sp-products-search-filters']").length>0) {
		$('#sp-products-search-filters').selectpicker('render');
		$("#sp-product-list-load-page").trigger("change");
	}
});

sp.utils.storage.get("products.search.families",function(variable){
	$("#sp-products-search-families option").prop("selected",false);
	for(var i in variable) {
		$("#sp-products-search-families option[value='"+variable[i]+"']").prop("selected",true);
	}
	if($(".dropdown-toggle[data-id='sp-products-search-families']").length>0) {
		$('#sp-products-search-families').selectpicker('render');
		$("#sp-product-list-load-page").trigger("change");
	}
});

$("#sp-products-search-families").change(function(){
	sp.utils.storage.set("products.search.families",$("#sp-products-search-families").val());
	update_product_list ($("#sp-product-list-load-page").val(),$("#sp-product-list-load-visible").val(),$("#sp-products-search-input").val());
});
$("#sp-products-search-filters").change(function(){
	sp.utils.storage.set("products.search.filters",$("#sp-products-search-filters").val());
	if($("#sp-products-search-filters").val()) 
		$("#sp-products-search-input").removeAttr("disabled");
	else 
		$("#sp-products-search-input").attr("disabled","disabled");
	$("#sp-product-list-load-page").val(0);
	update_product_list ($("#sp-product-list-load-page").val(),$("#sp-product-list-load-visible").val(),$("#sp-products-search-input").val());
});

function update_product_list (page,visible,filter_string) {
	filters = $("#sp-products-search-filters").val() || false;
	filter_nome = false;
	filter_codigo = false;
	if(filters) {
		filter_nome = $.inArray( "Nome", filters ) != -1;
		filter_codigo = $.inArray( "Código", filters ) != -1;
	}
	filter_familias = $("#sp-products-search-families").val() || false;

	first = parseInt(page)*parseInt(visible);
	last = parseInt(first)+parseInt(visible);
	products = sp.db.products.filter({
		all: 		filter_string,
		nome: 		filter_nome,
		codigo: 	filter_codigo,
		familias:   filter_familias, 
		favorites: 	$("#sp-products-tabs .sp-products-fav").hasClass("active")
	});
	$("#sp-product-list").empty();
	for (var i=first;i<parseInt(first)+parseInt(visible);i++)
	{
		if(i==products.length) break;
		var product = products[i];
		found = false;
		for(var j in sp.order.list) {
			if(sp.order.list[j].id == product.id) {
				found = true;
			}
		}
		str = '';
		str += '	<div class="col-xs-6 sp-product '+($.inArray( product.id, sp.user.fav_products ) != -1?"fav":"")+'" data-id="'+product.id+'">';
		str += '		<div class="panel '+(found?"selected":"")+'" data-id="'+product.id+'">';
		str += '			<div class="sp-product-top">';
		str += '				<img src="'+sp.db.images.get(product.codigo+".jpg")+'" />';
		str += '				<div class="sp-product-body">';
		str += '					<div class="sp-product-text">';
		str += '						'+product.nome;
		str += '					</div>';
		str += '				</div>';
		str += '			</div>';
		str += '			<div class="sp-product-center">';
		str += '				<div class="sp-product-family">';
		str += '					Família: '+(product.familia==""?"n/a":product.familia);
		str += '				</div>';
		str += '				<div class="sp-product-code">';
		str += '					'+product.tipo_codigo+':'+product.codigo;
		str += '				</div>';
		str += '				<div class="fa fa-star sp-product-favicon '+($.inArray( product.id, sp.user.fav_products ) != -1?"active":"")+'">';
		str += '				</div>';
		str += '			</div>';
		str += '			<div class="sp-product-bottom">';
		str += '				<div class="sp-product-price label label-success">';
		str += '					'+sp.db.products.get_price(product.id,true)+' &euro;';
		str += '				</div>';
		str += '				<a class="sp-product-button btn btn-primary">';
		str += '					<i class="fa fa-plus-square"></i> Selecionar';
		str += '				</a>';
		str += '			</div>';
		str += '		</div>';
		str += '	</div>';
		product = $(str);
		$("#sp-product-list").append(product);
		product.children(".panel").on("click",null,function(e){
			if($(e.target).hasClass("sp-product-favicon"))
			{
				if(!$(e.target).hasClass("active")) {
					if(sp.user.fav_products.length == 10) {
						toastr.warning("Número máximo de 10 produtos favoritos atingido");
						return false;
					}
				}
				$(e.target).toggleClass("active");
				$(e.target).closest(".sp-product").toggleClass("fav");
				
				var id = $(e.target).closest(".sp-product").attr("data-id");				
				var list = sp.user.fav_products;
				var index = list.indexOf(id);
				if (index > -1) list.splice(index, 1);
				else list.push(id);
				
				sp.db.user.update_fav_products(list);
			}
			else
			{
				window.location.hash="##modal#product#"+$(this).attr("data-id")+"#open";
			}
		});
	}
	last = i;
	
	$(".sp-product-list-load-elements-first").html((last==0?"0":(first==0?"1":first)));
	$(".sp-product-list-load-elements-last").html(last);
	$(".sp-product-list-load-elements-total").html(products.length);
	
	if(first==0) $("#sp-product-list-load-prev").attr("disabled","disabled");
	else $("#sp-product-list-load-prev").removeAttr("disabled");
	
	if(last>=products.length) $("#sp-product-list-load-next").attr("disabled","disabled");
	else $("#sp-product-list-load-next").removeAttr("disabled");
	
	$("#sp-product-list-load-pages").empty();
	for(var i=0;i<products.length / visible;i++) {
		$("#sp-product-list-load-pages").append('<option '+(page==i?"selected":"")+' value="'+i+'">Página '+(i+1)+'</option>');
	}
	
	$(".sp-product-list-load-pages-current").html(parseInt(page)+1);

	$("#sp-product-list-load-total").val(products.length);
	
	$("#sp-product-list .sp-product").each(function(i,el){
		setTimeout(function(){$(el).addClass("visible");},( i * 40 ));
	});
	if($("#sp-product-list .sp-product").length==0)
		$("#sp-product-list-notification").show();
	else
		$("#sp-product-list-notification").hide();
};
$("#sp-product-list-load-total").val(sp.db.products.list.length);
$("#sp-product-list-load-page").change(function(){
	update_product_list ($(this).val(),$("#sp-product-list-load-visible").val(),$("#sp-products-search-input").val());
}).trigger("change");
$("#sp-product-list-load-prev").on("click",function() {
	$("#sp-product-list-load-page").val(parseInt($("#sp-product-list-load-page").val())-1).trigger("change");
});
$("#sp-product-list-load-next").on("click",function() {
	$("#sp-product-list-load-page").val(parseInt($("#sp-product-list-load-page").val())+1).trigger("change");
});
$("#sp-product-list-load-pages").change(function() {
	$("#sp-product-list-load-page").val($(this).val()).trigger("change");
});
var sp_products_search_input_timeout;
$("#sp-products-search-input").on("keyup",function(){
	if($("#sp-products-search-input").val()=="")
		$("#sp-products-search-input-reset").attr("disabled","disabled");
	else
		$("#sp-products-search-input-reset").removeAttr("disabled");
	
	clearTimeout(sp_products_search_input_timeout);
	sp_products_search_input_timeout = setTimeout(function(){
		$("#sp-product-list-load-page").val(0);
		update_product_list ($("#sp-product-list-load-page").val(),$("#sp-product-list-load-visible").val(),$("#sp-products-search-input").val());
	},500);
});
$("#sp-products-tabs li").on("click",function(){
	$("#sp-products-tabs li.active").removeClass("active");
	$(this).addClass("active");
	$("#sp-product-list-load-page").val(0);
	update_product_list ($("#sp-product-list-load-page").val(),$("#sp-product-list-load-visible").val(),$("#sp-products-search-input").val());
});
$("#sp-products-search-input-reset").on("click",function(){
	$("#sp-products-search-input").val("").trigger("keyup");
});
$("#sp-products-search-input-reset").attr("disabled","disabled");


$(".sp-update-target").on("sp-update-content",function(){
	$("#sp-product-list-load-page").trigger("change");
});
$(".sp-update-target").trigger("sp-update-content");
</script>