<script type="text/javascript">
$("title").html("Sincronização");
</script>
<div class="row" style="display:none;">
	<div class="col-md-12">
		<h4 class="sp-header" style="margin-top:-10px;"><i class="fa fa-exchange"></i> Sincronização</h4>
	</div>
</div>
<div class="row" id="sp-notes-sync-notification-offline" style="display:none;">
	<div class="col-md-12">
		<div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Para aceder às funcionalidades de sincronização deve ter ligação à internet disponível.</div>
	</div>
</div>
<div class="row" id="sp-notes-sync-container" style="display:none;">
	<div class="col-md-12">
		<div class="alert alert-info sp-notes-sync-info">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button><i class="fa fa-info-circle"></i> 
			As seguintes notas estão guardadas apenas localmente.<br><br>Ao efetuar a sincronização, as encomendas serão processadas e validadas pelo sistema, passando a estar disponíveis em qualquer plataforma. Serão enviadas notificações para os utilizadores envolvidos e, caso se aplique, será também gerada a referência para pagamento que estará acessível consultando os detalhes da encomenda.
			<br><br>
			<label><input type="checkbox" class="sp-notes-sync-info-close-checkbox" /> <small>Não voltar a apresentar esta informação</small></label>
		</div>
		<div class="text-center" style="margin-bottom:10px;display:none;">
			<button class="btn btn-primary sp-notes-sync-confirm" data-id="all"><i class="fa fa-exchange"></i> Sincronizar todas</button>
		</div>
		<div class="panel" style="padding:0">
			<table style="width:100%;" class="table table-striped table-condensed">
				<thead>
					<tr>
						<th class="hidden-xs hidden-sm">Encomenda</th>
						<th class="hidden-xs hidden-sm">Cliente</th>
						<th class="hidden-xs hidden-sm">Preço <small>(c/IVA)</small></th>
						<th class="hidden-md hidden-lg"><small>Encomenda/Data</small></th>
						<th class="hidden-md hidden-lg"><small>Cliente/Preço</small></th>
						<th class="sp-notes-sync-confirm-head"></th>
					</tr>
				</thead>
				<tbody id="sp-notes-sync-list"></tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">

if(localStorage["notes.sync.info"]) $(".sp-notes-sync-info").remove();

$(".sp-notes-sync-info-close-checkbox").off("click").on("click",function() {
	if($(this).is(":checked"))
		localStorage["notes.sync.info."+sp.user.id] = 1;
	else
		localStorage["notes.sync.info."+sp.user.id] = "";
});

$(".sp-update-target").on("sp-update-content",function(){

	var pending_notes = new Array();
	if(localStorage["notes.pending."+sp.user.id])
		pending_notes = JSON.parse(localStorage["notes.pending."+sp.user.id]);

	if(pending_notes.length == 0) {
		toastr.info("Não existem encomendas pendentes, todos os conteúdos estão sincronizados com o servidor.");
		window.location.href="#notes";
		$("#sp-notes-sync-container").hide();
		$("#sp-notes-sync-notification").show();
		return;
	}

	if(pending_notes.length == 1) 
		$(".sp-notes-sync-confirm").parent().hide();
	else 
		$(".sp-notes-sync-confirm").parent().show();
	$("#sp-notes-sync-list").empty();
	for ( var i in pending_notes ) {
		var note = pending_notes[i];
		for(var j in sp.db.notes.list) {
			if (sp.db.notes.list[j].codigo == note.codigo) {
				note.id=sp.db.notes.list[j].id;
				break;
			}
		}
		var str = '';
		str += '	<tr class="sp-notes-sync-note" data-id="'+note.id+'" data-codigo="'+note.codigo+'">';
		str += '		<td style="vertical-align:middle;"><a href="##modal#note#'+note.id+'#open">'+note.codigo+'</a><br><small style="display:block;line-height:1em;" class="text-muted">'+sp.utils.format_date(note.data)+'</small></td>';
		var client = sp.db.client.get_details(note.client_id);
		var payee_client = "";
		if(note.payee_id != note.client_id) payee_client = "<small style='color:#aaa;display:block;margin-top:-3px;'>Faturado a: "+note.payee_nome+"</small>";
		if(client && client.nome == note.client_nome) {
			str += '		<td style="vertical-align:middle;"><a href="##modal#client#'+note.client_id+'#open">'+note.client_nome+'</a>'+payee_client+'<div class="visible-sm visible-xs"><span class="label label-success" style="display:inline-block;">'+sp.utils.format_price(note.preco)+' &euro;</span></div></td>';	
		}
		else {
			str += '		<td style="vertical-align:middle;">'+note.client_nome+payee_client+'<div class="visible-sm visible-xs"><span class="label label-success" style="display:inline-block;">'+sp.utils.format_price(note.preco)+' &euro;</span></div></td>';
		}
		
		str += '		<td nowrap style="width:100px;vertical-align:middle;" class="hidden-xs hidden-sm"><span class="label label-success" style="font-size:1em;display:block;">'+sp.utils.format_price(note.preco)+' &euro;</span></td>';
		str += '		<td align="right">';
		str += '			<button class="btn btn-primary btn-sm sp-notes-sync-confirm" data-id="'+note.id+'"><i class="fa fa-exchange"></i> Sincronizar</button>';
		str += '		</td>';
		str += '	</tr>';
		note = $(str);
		$("#sp-notes-sync-list").append(note);
	}
	$("#sp-notes-sync-container").show();
	$("#sp-notes-sync-notification").hide();

	$(".sp-notes-sync-note").off("sync").on("sync",function(){
		var note_el = $(this);
		var note_id = $(this).attr("data-id");
		var note_codigo = $(this).attr("data-codigo");
		var btn = $(this).find(".btn");
		btn.button("loading");

		var note = sp.db.notes.get_details(note_id);
		note.estado=1;
		if(note.referencia == "")
			note.estado=2;
		note.id = null;

		var notes = new Array();

		notes.push(note);

		sp.ws.put({
			url:"notes",
			data:{
				"notes":notes
			},
			callbacks:{
				"200":function(data,status,jqXHR){
					toastr.success("Encomenda "+note.codigo+" sincronizada com sucesso, código atribuído: "+data[0].codigo,"",{onclick: function() {window.location.href="##modal#note#"+data[0].id+"#open";}});
					note_el.addClass("processed");
					btn.html('<i class="fa fa-check"></i> Sincronizado').addClass("btn-success");
					var pending_notes = new Array();
					if(localStorage["notes.pending."+sp.user.id])
						pending_notes = JSON.parse(localStorage["notes.pending."+sp.user.id]);
					var new_notes = new Array();
					for(var i in pending_notes) {
						if(pending_notes[i].codigo == note_codigo) continue;
						new_notes.push(pending_notes[i]);
					}
					localStorage["notes.pending."+sp.user.id] = JSON.stringify(new_notes);
					if($(".sp-notes-sync-confirm[data-id='all']").hasClass("selected")) {
						if($(".sp-notes-sync-note:not(.processed)").length>0) {
							$(".sp-notes-sync-note:not(.processed)").eq(0).trigger("sync");
						}
						else {
							$(".sp-notes-sync-confirm[data-id='all']").remove();

							var pending_notes = new Array();
							if(localStorage["notes.pending."+sp.user.id])
								pending_notes = JSON.parse(localStorage["notes.pending."+sp.user.id]);
							if(pending_notes.length>0) {
								$(".sp-dynamic-notes-sync").show();
								$(".sp-dynamic-notes-sync .badge").html(pending_notes.length);
							}
							else {
								$(".sp-dynamic-notes-sync").hide();
							}

							$.when(sp.db.notes.update_list()).done(function(notes){
								$(".sp-update-target").trigger("sp-update-content");
								sp.loading.hide();
							});							
						}
					}
					else {
						$.when(sp.db.notes.update_list()).done(function(notes){
							$(".sp-update-target").trigger("sp-update-content");
							sp.loading.hide();
						});
					}
				},
				"error":function(data,status,jqXHR){
					toastr.error("Erro ao sincronizar encomenda "+note.codigo);
					note_el.addClass("processed");
					btn.html('<i class="fa fa-times"></i> Erro').addClass("btn-danger");
					if($(".sp-notes-sync-confirm[data-id='all']").hasClass("selected")) {
						if($(".sp-notes-sync-note:not(.processed)").length>0) {
							$(".sp-notes-sync-note:not(.processed)").eq(0).trigger("sync");
						}
						else {
							$(".sp-notes-sync-confirm[data-id='all']").remove();
						}
					}
					sp.loading.hide();
				}
			}
		});
	});

	$(".sp-notes-sync-confirm").off("click").on("click",function(){
		var id = $(this).attr("data-id");
		sp.loading.show({overlay: true, text: "A sincronizar ..."});
			if(id=="all") {
				$(this).button("loading").addClass("selected");
				$(".sp-notes-sync-note:not(.processed)").eq(0).trigger("sync");
			}
			else {
				$(this).closest(".sp-notes-sync-note").trigger("sync");
			}
	});



	if(sp.terminal.mobile && !sp.terminal.connection) {
		$("#sp-notes-sync-notification-offline").show();
		$(".sp-notes-sync-confirm-head").hide();
		$(".sp-notes-sync-confirm").parent().hide();
		$(".sp-notes-sync-info").hide();
	}
	else {
		$("#sp-notes-sync-notification-offline").hide();
		$(".sp-notes-sync-confirm-head").show();
	}
});
$(".sp-update-target").trigger("sp-update-content");
</script>