<script type="text/javascript">
$("title").html("Gestão de utilizadores");
</script>

<ul class="nav nav-pills sp-page-tabs">
	<li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-lock"></i> Utilizadores</a></li>
	<li><a href="#profile" data-toggle="tab"><i class="fa fa-group"></i> Grupos de permissões</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="home">	
		<div class="row">
			<div class="col-md-12">
				<br>
				<div style="margin-bottom:10px;display:block;text-align: center;">
					<button data-online="true" onclick="window.location='##modal#user-add#open';" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar utilizador</button>
				</div>
				<div class="panel" style="padding:0">		
					<table style="width:100%;" class="table table-striped">
						<thead>
							<tr>

								<th class="hidden-xs hidden-sm">Nome</th>
								<th class="hidden-md hidden-lg"><small>Utilizador</small></th>

								<th class="hidden-xs hidden-sm">E-mail</th>
								
								<th class="hidden-xs hidden-sm">Tipo</th>
								<th class="hidden-xs hidden-md hidden-lg"><small>Tipo</small></th>

								<th class="hidden-xs hidden-sm">Grupo</th>
								<th class="hidden-xs hidden-md hidden-lg"><small>Grupo</small></th>

								<th class="hidden-xs hidden-sm">Notas</th>
								<th class="hidden-md hidden-lg"><small>Notas</small></th>

								<th class="hidden-xs hidden-sm" data-online="true">Opções</th>
								<th class="hidden-md hidden-lg" data-online="true"><small>Opções</small></th>
							</tr>
						</thead>
						<tbody id="sp-user-list">
						</tbody>
					</table>
				</div>
<!--
				<div class="alert alert-info">
					<i class="fa fa-info-circle"></i> <b>Existem 3 tipos de utilizadores:</b>
					<br><br><span class="label label-warning">Administrador</span> - Pode aceder a todas as páginas da interface e aplicação. Tem permissões para ver todas as notas de encomenda, e todos os clientes. Pode adicionar ou remover utilizadores.
					<br><br><span class="label label-primary">Vendedor</span> - Tem acesso a uma lista configurável de clientes e produtos. Não "vê" outros utilizadores. Pode alterar informações do seu próprio perfil. Pode criar notas de encomenda, e ver o histórico de notas introduzidas apenas por ele para N clientes.
					<br><br><span class="label label-success">Cliente</span> - Tem acesso a uma lista configurável de produtos. Não tem acesso a outros clientes ou utilizadores. Pode alterar informações do seu próprio perfil. Pode ver notas apenas "pagas" por ele.
				</div>
-->
			</div>
		</div>
	</div>
	<div class="tab-pane" id="profile">
		<div class="row">
			<div class="col-md-12">
				<br>
				<div style="margin-bottom:10px;display:block;text-align: center;">
					<button data-online="true" onclick="window.location='##modal#group-add#open';" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar grupo</button>
				</div>
				<div class="panel" style="padding:0">
					<table style="width:100%;" class="table table-striped">
						<thead>
							<tr>								
								<th class="hidden-xs hidden-sm">Nome / Tipo</th>
								<th class="hidden-md hidden-lg"><small>Nome / Tipo / Lista distribuição</small></th>

								<th class="hidden-xs hidden-sm">Lista distribuição</th>
								<th class="hidden-xs hidden-md hidden-lg"><small>Lista distribuição</small></th>

								<th class="hidden-xs hidden-sm">Descrição</th>

								<th class="hidden-xs hidden-sm">Permissões</th>
								<th class="hidden-md hidden-lg"><small>Permissões</small></th>

								<th class="hidden-xs hidden-sm">Opções</th>
								<th class="hidden-md hidden-lg"><small>Opções</small></th>
							</tr>
						</thead>
						<tbody id="sp-user-group-list">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">


$(".sp-update-target").on("sp-update-content",function(){

	$("#sp-user-list").empty();
	for (var i in sp.db.users.list)
	{
		print_user(sp.db.users.list[i]);
	}
	$("#sp-user-list .sp-user-remove").off("click").on("click",function(){
		var id = $(this).attr("data-id");	
		bootbox.dialog({
			message: "<div class='alert alert-warning'><i class='fa fa-warning'></i> Confirma a remoção deste utilizador?</div>",
			title: "Confirmar",
			buttons: {
				danger: {
					label: "<i class='fa fa-times'></i> Cancelar",
					className: "btn-default"
				},
				success: {
					label: "<i class='fa fa-check'></i> Confirmar",
					className: "btn-primary",
					callback: function() {
						sp.loading.show({overlay: true, text: "A remover utilizador ..."});
						sp.ws.delete({
							url: "users/"+id,
							callbacks:{
								"200":function(data,status,jqXHR){
									toastr.success(data);
									window.location.href = "#users";
									location.reload();
								},
								"400":function(data,status,jqXHR){
									toastr.error("Erro no pedido, por favor tente novamente");
									sp.loading.hide();
								}
							}
						});
					}
				}
			}
		});
	});
	$("#sp-user-list .sp-user-edit").off("click").on("click",function(){
		var id = $(this).attr("data-id");	
		window.location = "##modal#user-edit#"+id+"#open";
	});
	$("#sp-user-group-list").empty();
	for (var i in sp.db.groups.list)
	{
		print_group(sp.db.groups.list[i]);
	}
	$("#sp-user-group-list .sp-group-remove").off("click").on("click",function(){
		var id = $(this).attr("data-id");	
		bootbox.dialog({
			message: "<div class='alert alert-warning'><i class='fa fa-warning'></i> Confirma a remoção deste grupo?</div>",
			title: "Confirmar",
			buttons: {
				danger: {
					label: "<i class='fa fa-times'></i> Cancelar",
					className: "btn-default"
				},
				success: {
					label: "<i class='fa fa-check'></i> Confirmar",
					className: "btn-primary",
					callback: function() {
						sp.ws.delete({
							url: "groups/"+id,
							callbacks:{
								"200":function(data,status,jqXHR){
									toastr.success(data);
									window.location.href = "#users";
									location.reload();
								},
								"400":function(data,status,jqXHR){
									toastr.error("Erro no pedido, por favor tente novamente");
								}
							}
						});
					}
				}
			}
		});
	});
	$("#sp-user-group-list .sp-group-edit").off("click").on("click",function(){
		var id = $(this).attr("data-id");	
		window.location = "##modal#group-edit#"+id+"#open";
	});

	if(sp.terminal.mobile && !sp.terminal.connection) {
		$("*[data-online='true']").each(function(){
			$(this).prop('disabled', true);
		});
	}
	else {
		$("*[data-online='true']").each(function(){
			$(this).prop('disabled', false);
		});
	}
});
$(".sp-update-target").trigger("sp-update-content");
/*
$.ajax({
	type: "GET",
	url: "/sparmedix/website/ws/groups",
	contentType: "application/json; charset=utf-8",
	dataType: "json",
	statusCode: {
		200: function (data, status, jqXHR) {
			alert(data.length);
		},
		404: function (data, status, jqXHR)  {
			alert(data.responseText);
		}
	}
});

$.ajax({
	url: "/sparmedix/website/ws/groups",
	type: 'PUT',
	data: {"nome":"teste 1","descricao":"descricao teste 1"},
	statusCode: {
		200: function (data, status, jqXHR) {
			alert(data);
		},
		400: function (data, status, jqXHR)  {
			alert(data.responseText);
		}
	}
});*/
function print_user(user) {
	
	var str = '';
	str += '	<tr>';
	str += '		<td>';
	str += '			<a href="##modal#user#'+user.id+'#open">'+user.nome+'</a>';
	str += '			<div class="visible-sm visible-xs"><small><a href="mailto:'+user.email+'">'+user.email+'</a></small></div>';
	if (user.tipo == sp.db.users.types.admin) {
		str += '			<div style="display:inline-block;"><span class="label label-warning visible-xs"><small>Administrador</small></span></div>';
	}
	else if(user.tipo == sp.db.users.types.sales) {
		str += '			<div style="display:inline-block;"><span class="label label-primary visible-xs"><small>Vendedor</small></span></div>';
	}
	else if(user.tipo == sp.db.users.types.client) {
		str += '			<div style="display:inline-block;"><span class="label label-success visible-xs"><small>Cliente</small></span></div>';
	}	
	if(user.grupo) {
		str += '			<div style="display:inline-block;"><span class="label label-default visible-xs"><small>'+sp.db.groups.get_details(user.grupo).nome+'</small></span></div>';
	}
	str += '			</td>';
	str += '			<td class="hidden-sm hidden-xs"><a href="mailto:'+user.email+'">'+user.email+'</a></td>';
	if (user.tipo == sp.db.users.types.admin) {
		str += '			<td class="hidden-xs"><span class="label label-warning">Administrador</span></td>';
	}
	else if(user.tipo == sp.db.users.types.sales) {
		str += '			<td class="hidden-xs"><span class="label label-primary">Vendedor</span></td>';
	}
	else if(user.tipo == sp.db.users.types.client) {
		str += '			<td class="hidden-xs"><span class="label label-success">Cliente</span></td>';
	}
	if(user.grupo) {
		str += '			<td class="hidden-xs"><span class="label label-default">'+sp.db.groups.get_details(user.grupo).nome+'</span></td>';
	}
	else {
		str += '<td class="hidden-xs">-</td>';
	}
	var notes = sp.db.notes.get_by_user_id(user.id);
	if(user.tipo == sp.db.users.types.client) {
		var notes = sp.db.notes.get_by_client_id(user.client_id);
	}
	str += '			<td><a href="##modal#user#'+user.id+'#open">'+notes.length+'</a></td>';
	str += '			<td>';
	//str += '				<a href="##modal#user#'+user.id+'#open" class="btn btn-default btn-sm"><i class="fa fa-search"></i></a>';
	str += '				<button data-online="true" class="btn btn-default btn-sm sp-user-edit" data-id="'+user.id+'"><i class="fa fa-pencil"></i></button>';
	str += '				<button data-online="true" class="btn btn-danger btn-sm sp-user-remove" data-id="'+user.id+'"><i class="fa fa-trash-o"></i></button>';
	str += '		</td>';
	str += '	</tr>';

	user = $(str);
	$("#sp-user-list").append(user);
}
function print_group(group) {
	var permissoes_clientes = '<small>Todos os clientes</small>';
	var permissoes_produtos = '<small>Todos os produtos</small>';
	if(group.clientes.length != 0)
		permissoes_clientes = '<a href="##modal#group-clients#'+group.id+'#open">'+group.clientes.length+' clientes</a>';
	if(group.produtos.length != 0)
		permissoes_produtos = '<a href="##modal#group-products#'+group.id+'#open">'+group.produtos.length+' produtos</a>';
	var str = '';
	str += '	<tr>';
	str += '		<td>';
	str += '			'+group.nome;
	if (group.tipo == sp.db.users.types.admin) {
		str += '			<div><span class="label label-warning"><small>Administradores</small></span></div>';
	}
	else if(group.tipo == sp.db.users.types.sales) {
		str += '			<div><span class="label label-primary"><small>Vendedores</small></span></div>';
	}
	else if(group.tipo == sp.db.users.types.client) {
		str += '			<div><span class="label label-success"><small>Clientes</small></span></div>';
	}
    str += '	        <div class="visible-xs"><small>'+(group.lista_distribuicao?group.lista_distribuicao.replace(";","; "):"-")+'</small></div>';
	str += '		</td>';
	str += '	    <td class="hidden-xs"><small>'+(group.lista_distribuicao?group.lista_distribuicao.replace(";","; "):"-")+'</small></td>';
	str += '		<td class="hidden-xs hidden-sm"><small>';
	str += '			'+(group.descricao?group.descricao:"-");
	str += '		</small></td>';
	str += '		<td>';
	str += '			'+permissoes_clientes+'<br>';
	str += '			'+permissoes_produtos;
	str += '		</td>';
	str += '		<td>';
	str += '				<button data-online="true" class="btn btn-default btn-sm sp-group-edit" data-id="'+group.id+'"><i class="fa fa-pencil"></i></button>';
	str += '				<button data-online="true" class="btn btn-danger btn-sm sp-group-remove" data-id="'+group.id+'""><i class="fa fa-trash-o"></i></button>';
	str += '		</td>';
	str += '	</tr>';

	group = $(str);
	$("#sp-user-group-list").append(group);
}
</script>