#sp-client-list {
	.sp-client {
		//padding-left:5px!important;
		//padding-right:5px!important;

	-webkit-transition: -webkit-transform .2s ease-in,opacity .2s ease-in; /* Changed here */ 
	   -moz-transition: -moz-transform .2s ease-in,opacity .2s ease-in;
         -o-transition: -o-transform .2s ease-in,opacity .2s ease-in;
            transition: transform .2s ease-in,opacity .2s ease-in;
	.transform(translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1));
	opacity:1;
	
	&:not(.visible) {
		height:0;
		opacity:0;
		overflow:hidden;
		.transform(translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7));
	}
	
	.panel {
		padding:0;
		outline: 0px solid rgba(0,0,0,.1);
		position:relative;
		height: 6.2em;
		.prevent-select();
		.border-radius(0px);
		.sp-client-body {
			position: absolute;
			line-height: 4.3em;
			top:0em;
			right:2em;
			bottom:0em;
			left:.5em;
			.sp-client-text {
				display: inline-block;
				font-size: .9em;
				line-height: 1em;
				vertical-align: middle;
				width: 100%;
				word-wrap: break-word;
				white-space: normal;
				padding:0 .3em 0 0;
				
				.sp-client-name {
					font-size:1em;
				}
				.sp-client-local {
					color: #aaaaaa;
					margin-top:.3em;
					line-height:1em;
					font-size:.8em;
				}
			}
		}
		.sp-client-nif {
			background: #293541;
			color: #8696a6;
			bottom:0;
			left:0;
			right:0;
			position:absolute;
			font-size:.8em;
			padding:.2em;
			line-height:1.2em;
		}
				
		.sp-client-favicon {
			position:absolute;
			right:0;
			top:0em;
			bottom:0em;
			width:2em;
			font-size:14px;
			border-left: solid 1px #eeeeee;
			color: #aaaaaa;
			line-height:5em;
			text-align:center;
			&.active {
				color:#f0ad4e;
			}
			&:hover {
				background:#f0ad4e;			
				color:#fff;
				border-left: solid 1px #f0ad4e;
			}
		}
		&:hover {
			outline: 4px solid rgba(0,0,0,.1);
			cursor: pointer;
			.sp-client-body {
				color: @sp-color-main-blue;
			}
		}
		&.selected {
			outline: 5px solid @sp-color-main-blue;
			cursor: pointer;
			.sp-client-body {
				color: @sp-color-main-blue;
			}		
		}
		.sp-client-details {
			display: none;
		}
	}
	}
	&.filtered {
		.sp-client {			
			&.filtered {
				.hidden();
			}
		}
	}
}
#sp-clients-search-container .input-group-addon:last-child {
	padding:0;
	border:0;
	.btn {
		border-left:0;
		.multiple-border-radius(4px,4px,0px,0px);
	}
}
@media (max-width:480px) {
}


//@media (max-width:480px) {#sp-client-list .sp-client {width:( 100% / 1 );.panel{margin-bottom:5px;}}}
@media (max-width:480px) {#sp-client-list .sp-client {width:( 100% / 2 );}}
@media (min-width:480px) {#sp-client-list .sp-client {width:( 100% / 2 );}}
@media (min-width:630px) {#sp-client-list .sp-client {width:( 100% / 3 );}}
@media (min-width:768px) {#sp-client-list .sp-client {width:( 100% / 2 );}}
@media (min-width:900px) {#sp-client-list .sp-client {width:( 100% / 3 );}}
@media (min-width:1100px) {#sp-client-list .sp-client {width:( 100% / 4 );}}
@media (min-width:1280px) {#sp-client-list .sp-client {width:( 100% / 5 );}}


.sp-client-select {
	.modal-body {
		padding:0!important;
		.sp-client-select-search {
			padding: 10px;
			background: #eee;
		}
		.sp-client-select-btns {
			background: #eee;
			.btn {
				&.btn-default {
					border-color:#cccccc;
				}
			}
		}
	}
	.sp-client-select-name-filter {
	 	width:100%;
	 	font-size:.8em;
	 	cursor:pointer;
	 	background:#fff;
	 	.border-radius(3px);
	 	border:1px solid #cccccc;
		td {
			text-align:center;
			width: 100% / 36;
			&:hover {
				color: @sp-color-main-blue;
			}
			&.active {
				background: @sp-color-main-blue;
				color: #fff;
			}
		}
	}
	.sp-client-select-list table {
	 	border-bottom:1px solid #cccccc;
		tr {
			&:not(.visible):not(.sp-client-select-more):not(.sp-separator) {
				display:none;
			}
			&.sp-separator {
				th {
					background: @sp-color-main-blue !important;
					font-weight: 700 !important;
					font-size:.9em;
					padding: 2px;
					text-align: center;
					color: #ffffff;
				}
			}
			td.sp-select-cell {
				cursor: pointer;
			}
			&:first-child {
				td{border:0;}
			}
			&.selected {
				td {
					&:nth-child(3) {
						span {
							background: @sp-color-main-blue;
							border:solid 1px @sp-color-main-blue;
							i:before {
								content: "\f00c";
								color: #ffffff;
							}
						}
					}
				}
			}
			td {
				vertical-align: middle;
				line-height: 1.1em;
				&:nth-child(3) {
					width: 45px;
					text-align: center;
					color: #e3e3e3;
					span {
						width: 18px;
						height: 18px;
						display:block;
						background: rgba(0,0,0,.09);
						border:solid 1px rgba(0,0,0,.1);
						line-height:16px;
						.border-radius(3px);
					}
				}
				&:nth-child(1) {
					width: 90px;
				}
				&:nth-child(2) {
					small {
						font-size:.8em;
					}
				}					
			}
		}
	}
}

#sp-clients-search-input-fields {
	.bootstrap-select {
		.filter-option,
		.dropdown-menu a {
			font-size:.9em;
		}
		button[data-id="sp-clients-search-filters"] {
			.multiple-border-radius(0, 4px, 4px, 0);
			border-top:none;
			background:#eeeeee;
			border-color:#ccc;
			&:hover {
				background:#f2f2f2;
			}
		}
		.dropdown-menu.inner {
			max-height:300px!important;
			overflow:auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	.input-group-addon:first-child{
		.multiple-border-radius(0, 0, 0, 4px);
	}
	.input-group-addon:last-child{
		.multiple-border-radius(4px, 0, 0, 0);
	}
}