#sp-product-fav-list,
#sp-product-top-list {
	tr:first-child td {
		border-top: none;
	}
	td {
		vertical-align: middle;
	}
}







#sp-product-list {
	.sp-product { 	
	-webkit-transition: -webkit-transform .2s ease-in,opacity .2s ease-in; /* Changed here */ 
	   -moz-transition: -moz-transform .2s ease-in,opacity .2s ease-in;
         -o-transition: -o-transform .2s ease-in,opacity .2s ease-in;
            transition: transform .2s ease-in,opacity .2s ease-in;
	.transform(translate3d(0px, 0px, 0px) rotateX(0)  scale(1, 1));
	opacity:1;
	
	&:not(.visible) {
		height:0;
		opacity:0;
		overflow:hidden;
		.transform(translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7));
	}
	
	.panel {
		padding:0;
		outline: 0px solid rgba(0,0,0,.1);
		cursor: pointer;
		position:relative;
		height: 8.3em;
		.prevent-select();
		.border-radius(0px);
		.sp-product-top {
			bottom: 3em;
			top:0;
			right:0;
			left:0;
			position:absolute;
			img {
				left:0;
				top:0;
				width:4.2em;
				height:4.2em;
				//.multiple-border-radius(0,0,0,3px);
			}
			.sp-product-body {
				position: absolute;
				line-height: 4.2em;
				top:0;
				right:0;
				bottom:3em;
				left:4.2em;
				.sp-product-text {
					display: inline-block;
					font-size: .9em;
					line-height: 1em;
					vertical-align: middle;
					width: 100%;
					word-wrap: break-word;
					white-space: normal;
					padding:0 .2em;
				}
			}
		}
		.sp-product-center {
			background: #293541;
			color: #8696a6;
			position: absolute;
			bottom:1.6em;
			left:0;
			right:0;
			top: auto;
			height:2.2em;
			padding:.1em .5em;
			line-height:1em;
			.sp-product-code {
				font-size: .8em;
			}
			.sp-product-family {
				font-size: .8em;
				border-bottom:solid 1px rgba(255,255,255,.1);
			}
			.sp-product-favicon {
				position:absolute;
				right:0;
				top:0;
				bottom:0;
				font-size:14px;
				width:2.2em;
				line-height:2.2em;
				text-align:center;
				background:#293541;
				&.active {
					color:#f0ad4e;
				}
				&:hover {
					background:#f0ad4e;			
					color:#fff;
				}
			}
		}
		.sp-product-bottom {
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			height:1.6em;
			.sp-product-price {
				position:absolute;
				top:0;
				bottom:0;
				left:0;
				padding:0;
				margin:0;
				right:50%;
				line-height:1.8em;
				font-size: .9em;
				//.multiple-border-radius(0,0,3px,0);
				.border-radius(0px);
			}
			.sp-product-button {
				position:absolute;
				top:0;
				bottom:0;
				right:0;
				padding:0;
				margin:0;
				left:50%;	
				line-height:1.7em;
				border:0;
				font-size: .9em;
				.border-radius(0px);
				i {
					font-size: 14px;
					line-height:1.7em;
				}
				span {
					line-height:1.7em;
				}
				//.multiple-border-radius(0,3px,0,0);
			}			
		}
		&:hover {
			outline: 4px solid rgba(0,0,0,.1);
			.sp-product-body {
				color: @sp-color-main-blue;
			}
		}
		&.selected {
			outline: 5px solid @sp-color-main-blue;
			cursor: pointer;
			.sp-client-body {
				color: @sp-color-main-blue;
			}		
		}
		.sp-product-details {
			display: none;
		}
	}
	}
	&.filtered {
		.sp-product {			
			&.filtered {
				.hidden();
			}
		}
	}
}
#sp-products-search-container .input-group-addon:last-child {
	padding:0;
	border:0;
	.btn {
		border-left:0;
		.multiple-border-radius(4px,4px,0px,0px);
	}
}

@media (max-width:480px) {#sp-product-list .sp-product {width:( 100% / 1 );}}
@media (min-width:480px) {#sp-product-list .sp-product {width:( 100% / 2 );}}
@media (min-width:1028px) {#sp-product-list .sp-product {width:( 100% / 3 );}}
@media (min-width:1280px) {#sp-product-list .sp-product {width:( 100% / 4 );}}



@media (max-width:480px) {
}
@media (min-width:480px) {
}



.sp-product-select {
	.modal-body {
		padding:0!important;
		.sp-product-select-search {
			padding: 10px;
			background: #eee;
		}
		.sp-product-select-btns {
			background: #eee;
			.btn {
				&.btn-default {
					border-color:#cccccc;
				}
			}
		}
	}
	.sp-product-select-name-filter {
	 	width:100%;
	 	font-size:.8em;
	 	cursor:pointer;
	 	background:#fff;
	 	.border-radius(3px);
	 	border:1px solid #cccccc;
		td {
			text-align:center;
			width: 100% / 36;
			&:hover {
				color: @sp-color-main-blue;
			}
			&.active {
				background: @sp-color-main-blue;
				color: #fff;
			}
		}
	}
	.sp-product-select-list table {
	 	border-bottom:1px solid #cccccc;
		tr {
			&:not(.visible):not(.sp-product-select-more):not(.sp-separator) {
				display:none;
			}
			&.sp-separator {
				th {
					background: @sp-color-main-blue !important;
					font-weight: 700 !important;
					font-size:.9em;
					padding: 2px;
					text-align: center;
					color: #ffffff;
				}
			}
			td.sp-select-cell {
				cursor: pointer;
			}
			&:first-child {
				td{border:0;}
			}
			&.selected {
				td {
					&:nth-child(3) {
						span {
							background: @sp-color-main-blue;
							border:solid 1px @sp-color-main-blue;
							i:before {
								content: "\f00c";
								color: #ffffff;
							}
						}
					}
				}
			}
			td {
				vertical-align: middle;
				line-height: 1.1em;
				&:nth-child(3) {
					width: 45px;
					text-align: center;
					color: #e3e3e3;
					span {
						width: 18px;
						height: 18px;
						display:block;
						background: rgba(0,0,0,.09);
						border:solid 1px rgba(0,0,0,.1);
						line-height:16px;
						.border-radius(3px);
					}
				}
				&:nth-child(1) {
					width: 45px;
					img,
					button {
						width:35px;
						height:35px;
					}
				}
				&:nth-child(2) {
					small {
						font-size:.8em;
					}
				}					
			}
		}
	}
}

#sp-products-search-input-fields {
	.bootstrap-select {
		.filter-option,
		.dropdown-menu a {
			font-size:.9em;
		}
		button[data-id="sp-products-search-filters"] {
			.multiple-border-radius(0, 0, 4px, 0);
			border-top:none;
			background:#eeeeee;
			border-color:#ccc;
			&:hover {
				background:#f2f2f2;
			}
		}
		button[data-id="sp-products-search-families"] {
			.multiple-border-radius(0, 4px, 0, 0);
			border-top:none;
			background:#eeeeee;
			border-color:#ccc;
			&:hover {
				background:#f2f2f2;
			}
		}
		.dropdown-menu.inner {
			max-height:300px!important;
			overflow:auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	.input-group-addon:first-child{
		.multiple-border-radius(0, 0, 0, 4px);
	}
	.input-group-addon:last-child{
		.multiple-border-radius(4px, 0, 0, 0);
	}
}