@import "bootstrap.min.css";
@import "sb-admin.css";
@import "../js/eternicode-bootstrap-datepicker/css/datepicker.css";
/*
*
*	main_blue: #008dd2 rgb(0,141,210);
*	main_pink: #e5097f rgb(229,9,127);
*	bootstrap_blue: #428bca
*	bootstrap_red: #d9544f
*	bootstrap_green: #5bb85d
*
*/
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/font-awesome/4.0.3/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/font-awesome/4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/font-awesome/4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/font-awesome/4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-asc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-desc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-reply-all:before {
  content: "\f122";
}
.fa-mail-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
/*  Sidebar navigation
	================================================== */
.navbar-brand {
  background: #1f2831;
  display: block;
  width: 225px;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: inset -9px 0px 6px -6px rgba(0, 0, 0, 0.4);
  float: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 10px;
}
.navbar-brand img {
  text-align: center;
  height: 50px;
  margin-bottom: 5px;
}
.navbar-brand:hover {
  color: #ffffff !important;
  background: #1f2831 !important;
}
.navbar-brand span {
  position: relative;
  display: block;
}
.navbar-brand span small {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #667686;
  margin-top: -5px;
  text-transform: none;
}
.navbar-brand-small {
  display: none;
}
.side-nav {
  left: 0px;
  width: 225px;
  position: fixed;
  top: 0px;
  height: 100%;
  bottom: 0px;
  border-radius: 0;
  border: none;
  background-color: #293541;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: inset -9px 0px 6px -6px rgba(0, 0, 0, 0.4);
}
.side-nav hr {
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  background: #1f2831 !important;
  display: block;
  height: 3px;
  margin: 5px 0px;
  padding: 0px;
}
.side-nav .input-group {
  width: 205px;
  border: 0;
  margin: 10px;
}
.side-nav .input-group .input-group-addon {
  background: #232d38;
  border: 0;
  color: #667686;
  border-bottom: solid 1px #334251;
  border-left: solid 1px #1f2831;
  border-top: solid 1px #1f2831;
  padding-right: 0px;
}
.side-nav .input-group input {
  background: none;
  border: 0;
  background: #232d38;
  border-bottom: solid 1px #334251;
  border-right: solid 1px #334251;
  border-top: solid 1px #1f2831;
  box-shadow: none;
  color: #ffffff;
  font-size: 12px;
  -webkit-appearance: none;
}
.side-nav .input-group input:focus {
  outline: none;
}
.side-nav .input-group input::-webkit-input-placeholder {
  color: #667686;
}
.side-nav .input-group input:-moz-placeholder {
  color: #667686;
}
.side-nav .input-group input::-moz-placeholder {
  color: #667686;
}
.side-nav .input-group input:-ms-input-placeholder {
  color: #667686;
}
.side-nav .input-group input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.side-nav .input-group input:focus:-moz-placeholder {
  color: #ffffff;
}
.side-nav .input-group input:focus::-moz-placeholder {
  color: #ffffff;
}
.side-nav .input-group input:focus:-ms-input-placeholder {
  color: #ffffff;
}
.side-nav > ul {
  width: 225px;
}
.side-nav > ul > li {
  padding: 0px 10px;
}
.side-nav > ul > li:not(.button) > a {
  width: 205px;
  padding: 10px;
  border-bottom: solid 1px #334251;
  border-radius: 3px;
  color: #768696;
}
.side-nav > ul > li:not(.button) > a .fa {
  width: 14px;
  margin-right: 10px;
}
.side-nav > ul > li:not(.button) > a:hover,
.side-nav > ul > li:not(.button) > a:focus {
  background-color: #334251 !important;
  color: #ffffff;
}
.side-nav > ul > li:not(.button) > a .badge {
  float: right;
  margin-right: -5px;
  background: #768696;
}
.side-nav > ul > li:not(.button).active > a {
  cursor: default;
}
.side-nav > ul > li:not(.button).active > a,
.side-nav > ul > li:not(.button).active > a:hover,
.side-nav > ul > li:not(.button).active > a:focus {
  background: #428bca !important;
  color: #ffffff;
}
.side-nav > ul > li:not(.button).active > a .badge {
  background: #ffffff;
  color: #428bca;
}
.side-nav > ul > li.button {
  padding: 10px;
  width: 225px;
}
.side-nav > ul > li.button i {
  margin-right: 10px;
  margin-left: -10px;
}
/*  Topbar navigation
	================================================== */
.navbar {
  background: #428bca;
  border: none;
  border-bottom: solid 1px #357ebd;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  min-height: 40px;
}
.navbar .navbar-user > li > a {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .navbar-user > li > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .navbar-user > li > a .badge {
  background: #ffffff;
  color: #428bca;
  font-weight: 700;
}
.navbar .navbar-user > li > a:hover,
.navbar .navbar-user > li > a:focus,
.navbar .navbar-user > li > a:active,
.navbar .navbar-user > li > a.active {
  background: rgba(0, 0, 0, 0.1);
}
.navbar .navbar-user > li:hover > a,
.navbar .navbar-user > li:focus > a,
.navbar .navbar-user > li:active > a,
.navbar .navbar-user > li.open > a {
  background: rgba(0, 0, 0, 0.1);
}
.navbar .navbar-user > li:hover > a .caret,
.navbar .navbar-user > li:focus > a .caret,
.navbar .navbar-user > li:active > a .caret,
.navbar .navbar-user > li.open > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .navbar-header {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  display: none;
}
.messages-dropdown .dropdown-menu {
  min-width: 300px;
}
.messages-dropdown .dropdown-menu li a {
  white-space: normal;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes user-navigation-animation-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Standard syntax */
@keyframes user-navigation-animation-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#user-navigation {
  display: none;
  position: fixed;
  right: 0px;
  top: 41px;
  background: #f2f2f2;
  z-index: 999999;
  display: block;
  padding-top: 5px;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#user-navigation.active {
  -webkit-animation: user-navigation-animation-open 0.5s;
  /* Chrome, Safari, Opera */
  animation: user-navigation-animation-open 0.5s;
}
#user-navigation ul li {
  list-style-type: none;
}
#user-navigation > ul {
  width: 302px;
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#user-navigation > ul > li {
  font-size: 12px;
  display: inline-block;
}
#user-navigation > ul > li.divider,
#user-navigation > ul > li.block {
  display: block;
}
#user-navigation > ul > li:not(.exit-app) {
  text-align: center;
  margin: 5px;
  vertical-align: top;
}
#user-navigation > ul > li:not(.exit-app).button > a {
  white-space: normal;
  padding: 10px 5px;
  width: 90px;
  position: relative;
  border: solid 1px #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background: #ffffff;
  display: block;
  text-decoration: none;
}
#user-navigation > ul > li:not(.exit-app).button > a > i {
  width: 20px;
  display: block;
  margin: auto;
  padding-bottom: 5px;
  font-size: 20px;
}
#user-navigation > ul > li:not(.exit-app).button > a .badge {
  position: absolute;
  top: -5px;
  right: -5px;
}
#user-navigation > ul > li:not(.exit-app).button > a:hover {
  background: #428bca;
  color: #ffffff;
}
#user-navigation > ul > li:not(.exit-app).info-element {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background: #ffffff;
  border: solid 1px #e6e6e6;
  display: block;
  padding: 5px;
  text-align: left;
  position: relative;
  line-height: 1;
}
#user-navigation > ul > li:not(.exit-app).info-element .label {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 1em;
  padding: 5px;
  line-height: 1;
  width: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#user-navigation > ul > li.exit-app a {
  display: block;
  color: #ffffff;
  background: #428bca;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-size: 14px;
  text-decoration: none;
}
#user-navigation > ul > li.exit-app a i {
  font-size: 14px;
  margin-right: 10px;
  margin-left: -10px;
}
#user-navigation > ul > li.exit-app a:hover {
  background: #357ebd;
}
#user-navigation > ul > li.exit-app:not(.mobile) {
  display: none;
}
#sidebar-calendar {
  color: rgba(255, 255, 255, 0.4);
  margin-left: 10px;
  position: absolute;
  bottom: 50px;
  font-size: .9em;
}
#sidebar-calendar hr {
  margin-left: -10px;
}
#sidebar-calendar th.dow {
  text-transform: uppercase;
  font-size: 10px;
  color: #428bca;
}
#sidebar-calendar th.datepicker-switch {
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
}
#sidebar-calendar th.datepicker-switch:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
#sidebar-calendar th.next,
#sidebar-calendar th.prev {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}
#sidebar-calendar th.next:hover,
#sidebar-calendar th.prev:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
#sidebar-calendar td {
  text-shadow: none;
  font-size: 11px;
  padding: 0px;
}
#sidebar-calendar td span {
  padding: 0px;
  height: auto;
  line-height: 4.1em;
}
#sidebar-calendar td.day.old,
#sidebar-calendar td .month.old,
#sidebar-calendar td .year.old,
#sidebar-calendar td.day.new,
#sidebar-calendar td .month.new,
#sidebar-calendar td .year.new {
  color: rgba(255, 255, 255, 0.15);
}
#sidebar-calendar td.day.active,
#sidebar-calendar td .month.active,
#sidebar-calendar td .year.active {
  background: none;
  color: rgba(255, 255, 255, 0.4);
}
#sidebar-calendar td.day:hover,
#sidebar-calendar td .month:hover,
#sidebar-calendar td .year:hover {
  background: rgba(255, 255, 255, 0.1);
}
#sidebar-calendar td.day:hover:not(.old):not(.new),
#sidebar-calendar td .month:hover:not(.old):not(.new),
#sidebar-calendar td .year:hover:not(.old):not(.new) {
  color: #ffffff;
}
#sidebar-calendar td.day.today,
#sidebar-calendar td .month.today,
#sidebar-calendar td .year.today,
#sidebar-calendar td.day.month.active,
#sidebar-calendar td .month.month.active,
#sidebar-calendar td .year.month.active,
#sidebar-calendar td.day.year.active,
#sidebar-calendar td .month.year.active,
#sidebar-calendar td .year.year.active {
  background: #428bca;
  color: #ffffff;
}
@media (max-height: 750px) {
  #sidebar-calendar {
    display: none;
  }
}
/*  Properties for mobile sizes
	- Hide sidebar
	- Slide sidebar
	================================================== */
@media (max-width: 767px) {
  html.nav-active {
    overflow: hidden;
  }
  .navbar-nav {
    margin: 0px;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #wrapper {
    padding-left: 0px !important;
  }
  #wrapper .side-nav {
    -webkit-transform: translate(-225px, 0);
    -moz-transform: translate(-225px, 0);
    -o-transform: translate(-225px, 0);
    -ms-transform: translate(-225px, 0);
    transform: translate(-225px, 0);
    top: 0px;
  }
  #wrapper .side-nav .navbar-brand {
    display: none;
  }
  #wrapper.nav-active #page-wrapper {
    -webkit-transform: translate(225px, 0);
    -moz-transform: translate(225px, 0);
    -o-transform: translate(225px, 0);
    -ms-transform: translate(225px, 0);
    transform: translate(225px, 0);
    width: 100%;
  }
  #wrapper.nav-active .side-nav {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  #wrapper.nav-active .navbar-header {
    -webkit-transform: translate(225px, 0);
    -moz-transform: translate(225px, 0);
    -o-transform: translate(225px, 0);
    -ms-transform: translate(225px, 0);
    transform: translate(225px, 0);
  }
  #wrapper.nav-active #user-navigation {
    -webkit-transform: translate(225px, 0);
    -moz-transform: translate(225px, 0);
    -o-transform: translate(225px, 0);
    -ms-transform: translate(225px, 0);
    transform: translate(225px, 0);
  }
  #wrapper #sidebar-calendar {
    display: none;
  }
  #wrapper .side-nav,
  #wrapper #page-wrapper,
  #wrapper .navbar-header,
  #wrapper #user-navigation {
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  /*  Topbar
	- Hide sidebar
	- Slide sidebar
	================================================== */
  .navbar {
    background: none;
    border: none;
  }
  .navbar-header {
    display: block !important;
    min-height: 50px;
    height: 50px;
    background-color: #293541;
    border-bottom: solid 1px #1f2831;
  }
  .navbar-header .navbar-toggle {
    float: left;
    margin: 0px;
    border-radius: 0px;
    border: none;
    border-right: solid 1px rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 50px;
    background: none;
  }
  .navbar-header .navbar-toggle .fa-bars {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar-header .navbar-user-toggle {
    float: right;
    margin: 0px;
    border-radius: 0px;
    border: none;
    border-left: solid 1px rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 50px;
    background: none;
  }
  .navbar-header .navbar-user-toggle .fa {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar-header .navbar-user-toggle.active {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
  }
  .navbar-header .navbar-sp-update {
    float: right;
    margin: 0px;
    border-radius: 0px;
    border: none;
    border-left: solid 1px rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 50px;
    background: none;
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar-header .navbar-sp-update .fa {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar-header .navbar-sp-update.active {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
  }
  .navbar-header .navbar-sp-notifications {
    float: right;
    margin: 0px;
    border-radius: 0px;
    border: none;
    height: 50px;
    width: 50px;
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
  .navbar-header .navbar-sp-notifications button {
    margin: 0px;
    border-radius: 0px;
    border: none;
    height: 50px;
    width: 50px;
    background: none;
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar-header .navbar-sp-notifications button .fa {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  .navbar-header .navbar-sp-notifications.active {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
  }
  .navbar-header .navbar-brand-small {
    width: 100%;
    height: 50px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7) !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  .navbar-header .navbar-brand-small img {
    height: 46px;
    margin: 2px;
    margin-left: -46px;
    display: inline-block;
    vertical-align: top;
  }
  .navbar-header .navbar-brand-small span {
    position: relative;
    display: inline-block;
    padding-top: 8px;
  }
  .navbar-header .navbar-brand-small span small {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #667686;
    margin-top: -5px;
    text-transform: none;
  }
  #user-navigation {
    top: 51px;
  }
}
/*-webkit-transition: @transition, -webkit-transform;
-moz-transition: @transition, -moz-transform ;
-o-transition: @transition, -o-transform ;
transition: @transition, transform ;

-webkit-transform: @transform;
-moz-transform: @transform;
-o-transform: @transform;
-ms-transform: @transform;
transform: @transform;*/
html.modal-open,
html.nav-active {
  overflow: hidden;
}
html.modal-open body,
html.nav-active body {
  overflow: hidden;
}
html.modal-open #page-wrapper {
  display: none;
}
body {
  background: #eeeeee;
  overflow-x: hidden;
  margin-top: 40px;
}
body .darker-section {
  background: #e6e6e6;
}
@media (max-width: 767px) {
  body {
    margin-top: 50px;
  }
  .modal-dialog {
    padding: 0px !important;
  }
}
/*  Wrappers
	================================================== */
#wrapper {
  padding-left: 225px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes content-animation-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Standard syntax */
@keyframes content-animation-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes content-animation-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Standard syntax */
@keyframes content-animation-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#page-wrapper.loaded {
  -webkit-animation: content-animation-open 0.5s;
  /* Chrome, Safari, Opera */
  animation: content-animation-open 0.5s;
}
#page-wrapper {
  -webkit-animation: content-animation-close 0.5s;
  /* Chrome, Safari, Opera */
  animation: content-animation-close 0.5s;
}
#page-wrapper {
  padding: 10px !important;
}
#page-wrapper .row {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.panel {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: none;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  padding: .7em 1.4em;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes loading-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* Standard syntax */
@keyframes loading-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
#sp-loading-container.active #sp-loading-message {
  -webkit-animation: loading-animation 0.25s;
  /* Chrome, Safari, Opera */
  animation: loading-animation 0.25s;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
#sp-loading-container {
  position: fixed;
  visibility: hidden;
  z-index: 99999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  text-align: center;
}
#sp-loading-container #sp-loading-overlay {
  opacity: 0;
  visibility: hidden;
  background: #f2f2f2;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}
#sp-loading-container #sp-loading-overlay.active {
  opacity: 1;
  visibility: visible;
}
#sp-loading-container #sp-loading-message {
  opacity: 0;
  visibility: hidden;
  background: #e6e6e6;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -4em -125px;
  width: 250px;
  border: solid 1px #d9d9d9;
}
#sp-loading-container #sp-loading-message .sp-loading-icon {
  display: block;
  font-size: 2em;
  margin-bottom: 5px;
  color: #428bca;
}
#sp-loading-container.active {
  visibility: visible;
}
#sp-loading-container.active #sp-loading-message {
  visibility: visible;
  opacity: 1;
}
.sp-page-tabs {
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  background: #ffffff;
  border-bottom: solid 1px #d3d3d3;
}
.sp-page-tabs li + li {
  margin: 0px;
}
.sp-page-tabs li a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #666;
  font-size: .9em;
}
.sp-page-tabs li a:hover,
.sp-page-tabs li a:focus {
  background: #eeeeee;
  color: #000000;
}
.sp-page-tabs li.active a {
  background: #eeeeee;
  color: #428bca;
  margin-bottom: -1px;
  margin-top: 1px;
  border: solid 1px #d3d3d3;
  border-bottom: none;
  border-top: none;
  padding-top: 9px;
  padding-bottom: 11px;
}
.sp-page-tabs li.active a:hover {
  background: #eeeeee;
  color: #428bca;
}
.sp-page-tabs li:nth-child(1).active a {
  border-left: none;
}
.sp-page-tabs li i {
  font-size: 14px!important;
}
.sp-checkbox {
  cursor: pointer;
}
.sp-checkbox input[type=checkbox] {
  display: none;
}
.sp-checkbox input[type=checkbox] + span {
  width: 18px;
  height: 18px;
  margin: 0px 10px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.09);
  border: solid 1px rgba(0, 0, 0, 0.1);
  line-height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.sp-checkbox input[type=checkbox]:checked + span {
  background: #428bca;
  border: solid 1px #428bca;
}
.sp-checkbox input[type=checkbox]:checked + span i:before {
  content: "\f00c";
  color: #fff;
}
.messages-dropdown.open .dropdown-menu {
  -webkit-animation: user-navigation-animation-open 0.5s;
  /* Chrome, Safari, Opera */
  animation: user-navigation-animation-open 0.5s;
}
.messages-dropdown .dropdown-menu {
  padding: 0px;
  max-height: 500px;
  overflow: auto;
}
.messages-dropdown ul li:nth-child(odd) a {
  background: #eee;
}
.messages-dropdown ul li:last-child a {
  background: #fff;
}
.messages-dropdown ul li.divider {
  padding: 0;
  margin: 0;
  background: #ccc;
}
.messages-dropdown ul li a {
  padding: 10px;
}
.messages-dropdown ul li a table tr td {
  vertical-align: top;
}
.messages-dropdown ul li a table tr td.body {
  padding-left: 5px;
}
.messages-dropdown ul li a table tr td .label {
  padding: 5px 8px;
  text-align: center;
}
.messages-dropdown ul li a table tr td .label i {
  width: 12px;
  height: 12px;
  text-align: center;
}
.messages-dropdown ul li a table tr td .time {
  font-size: .8em;
  line-height: 1.3em;
  color: #999;
  padding: 0;
}
.messages-dropdown ul li a table tr td .message {
  font-size: .9em;
  line-height: 1.1em;
}
.messages-dropdown ul li a:hover {
  background: #ddd!important;
}
#sp-notifications .sp-notification {
  -webkit-transition: -webkit-transform 0.2s ease-in, opacity 0.2s ease-in;
  /* Changed here */
  -moz-transition: -moz-transform 0.2s ease-in, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in, opacity 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -moz-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -o-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -ms-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  opacity: 1;
}
#sp-notifications .sp-notification:not(.visible) {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.75, 0.75);
  -moz-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.75, 0.75);
  -o-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.75, 0.75);
  -ms-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.75, 0.75);
  transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.75, 0.75);
}
.sp-header {
  margin: 10px -7px;
  background: #e6e6e6;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  height: 36px;
  line-height: 36px;
  position: relative;
}
.sp-header > i {
  color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #428bca;
  font-size: 14px;
}
.sp-header small {
  margin: 0px;
  margin-left: 45px;
  display: block;
}
.sp-header .header-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.sp-header .header-right .label {
  margin: 0;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1em;
}
.sp-header .header-right small {
  line-height: 35px;
}
#sp-client-list .sp-client {
  -webkit-transition: -webkit-transform 0.2s ease-in, opacity 0.2s ease-in;
  /* Changed here */
  -moz-transition: -moz-transform 0.2s ease-in, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in, opacity 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -moz-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -o-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -ms-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  opacity: 1;
}
#sp-client-list .sp-client:not(.visible) {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
  -moz-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
  -o-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
  -ms-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
  transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
}
#sp-client-list .sp-client .panel {
  padding: 0;
  outline: 0px solid rgba(0, 0, 0, 0.1);
  position: relative;
  height: 6.2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#sp-client-list .sp-client .panel .sp-client-body {
  position: absolute;
  line-height: 4.3em;
  top: 0em;
  right: 2em;
  bottom: 0em;
  left: .5em;
}
#sp-client-list .sp-client .panel .sp-client-body .sp-client-text {
  display: inline-block;
  font-size: .9em;
  line-height: 1em;
  vertical-align: middle;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  padding: 0 .3em 0 0;
}
#sp-client-list .sp-client .panel .sp-client-body .sp-client-text .sp-client-name {
  font-size: 1em;
}
#sp-client-list .sp-client .panel .sp-client-body .sp-client-text .sp-client-local {
  color: #aaaaaa;
  margin-top: .3em;
  line-height: 1em;
  font-size: .8em;
}
#sp-client-list .sp-client .panel .sp-client-nif {
  background: #293541;
  color: #8696a6;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  font-size: .8em;
  padding: .2em;
  line-height: 1.2em;
}
#sp-client-list .sp-client .panel .sp-client-favicon {
  position: absolute;
  right: 0;
  top: 0em;
  bottom: 0em;
  width: 2em;
  font-size: 14px;
  border-left: solid 1px #eeeeee;
  color: #aaaaaa;
  line-height: 5em;
  text-align: center;
}
#sp-client-list .sp-client .panel .sp-client-favicon.active {
  color: #f0ad4e;
}
#sp-client-list .sp-client .panel .sp-client-favicon:hover {
  background: #f0ad4e;
  color: #fff;
  border-left: solid 1px #f0ad4e;
}
#sp-client-list .sp-client .panel:hover {
  outline: 4px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#sp-client-list .sp-client .panel:hover .sp-client-body {
  color: #428bca;
}
#sp-client-list .sp-client .panel.selected {
  outline: 5px solid #428bca;
  cursor: pointer;
}
#sp-client-list .sp-client .panel.selected .sp-client-body {
  color: #428bca;
}
#sp-client-list .sp-client .panel .sp-client-details {
  display: none;
}
#sp-client-list.filtered .sp-client.filtered {
  display: none !important;
  visibility: hidden;
}
#sp-clients-search-container .input-group-addon:last-child {
  padding: 0;
  border: 0;
}
#sp-clients-search-container .input-group-addon:last-child .btn {
  border-left: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
@media (max-width: 480px) {
  #sp-client-list .sp-client {
    width: 50%;
  }
}
@media (min-width: 480px) {
  #sp-client-list .sp-client {
    width: 50%;
  }
}
@media (min-width: 630px) {
  #sp-client-list .sp-client {
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  #sp-client-list .sp-client {
    width: 50%;
  }
}
@media (min-width: 900px) {
  #sp-client-list .sp-client {
    width: 33.33333333%;
  }
}
@media (min-width: 1100px) {
  #sp-client-list .sp-client {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  #sp-client-list .sp-client {
    width: 20%;
  }
}
.sp-client-select .modal-body {
  padding: 0!important;
}
.sp-client-select .modal-body .sp-client-select-search {
  padding: 10px;
  background: #eee;
}
.sp-client-select .modal-body .sp-client-select-btns {
  background: #eee;
}
.sp-client-select .modal-body .sp-client-select-btns .btn.btn-default {
  border-color: #cccccc;
}
.sp-client-select .sp-client-select-name-filter {
  width: 100%;
  font-size: .8em;
  cursor: pointer;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}
.sp-client-select .sp-client-select-name-filter td {
  text-align: center;
  width: 2.77777778%;
}
.sp-client-select .sp-client-select-name-filter td:hover {
  color: #428bca;
}
.sp-client-select .sp-client-select-name-filter td.active {
  background: #428bca;
  color: #fff;
}
.sp-client-select .sp-client-select-list table {
  border-bottom: 1px solid #cccccc;
}
.sp-client-select .sp-client-select-list table tr:not(.visible):not(.sp-client-select-more):not(.sp-separator) {
  display: none;
}
.sp-client-select .sp-client-select-list table tr.sp-separator th {
  background: #428bca !important;
  font-weight: 700 !important;
  font-size: .9em;
  padding: 2px;
  text-align: center;
  color: #ffffff;
}
.sp-client-select .sp-client-select-list table tr td.sp-select-cell {
  cursor: pointer;
}
.sp-client-select .sp-client-select-list table tr:first-child td {
  border: 0;
}
.sp-client-select .sp-client-select-list table tr.selected td:nth-child(3) span {
  background: #428bca;
  border: solid 1px #428bca;
}
.sp-client-select .sp-client-select-list table tr.selected td:nth-child(3) span i:before {
  content: "\f00c";
  color: #ffffff;
}
.sp-client-select .sp-client-select-list table tr td {
  vertical-align: middle;
  line-height: 1.1em;
}
.sp-client-select .sp-client-select-list table tr td:nth-child(3) {
  width: 45px;
  text-align: center;
  color: #e3e3e3;
}
.sp-client-select .sp-client-select-list table tr td:nth-child(3) span {
  width: 18px;
  height: 18px;
  display: block;
  background: rgba(0, 0, 0, 0.09);
  border: solid 1px rgba(0, 0, 0, 0.1);
  line-height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sp-client-select .sp-client-select-list table tr td:nth-child(1) {
  width: 90px;
}
.sp-client-select .sp-client-select-list table tr td:nth-child(2) small {
  font-size: .8em;
}
#sp-clients-search-input-fields .bootstrap-select .filter-option,
#sp-clients-search-input-fields .bootstrap-select .dropdown-menu a {
  font-size: .9em;
}
#sp-clients-search-input-fields .bootstrap-select button[data-id="sp-clients-search-filters"] {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  border-top: none;
  background: #eeeeee;
  border-color: #ccc;
}
#sp-clients-search-input-fields .bootstrap-select button[data-id="sp-clients-search-filters"]:hover {
  background: #f2f2f2;
}
#sp-clients-search-input-fields .bootstrap-select .dropdown-menu.inner {
  max-height: 300px!important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#sp-clients-search-input-fields .input-group-addon:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
}
#sp-clients-search-input-fields .input-group-addon:last-child {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#sp-product-fav-list tr:first-child td,
#sp-product-top-list tr:first-child td {
  border-top: none;
}
#sp-product-fav-list td,
#sp-product-top-list td {
  vertical-align: middle;
}
#sp-product-list .sp-product {
  -webkit-transition: -webkit-transform 0.2s ease-in, opacity 0.2s ease-in;
  /* Changed here */
  -moz-transition: -moz-transform 0.2s ease-in, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in, opacity 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  -webkit-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -moz-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -o-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  -ms-transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
  opacity: 1;
}
#sp-product-list .sp-product:not(.visible) {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
  -moz-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
  -o-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
  -ms-transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
  transform: translate3d(0px, 50px, 0) rotateX(-30deg) scale(0.7, 0.7);
}
#sp-product-list .sp-product .panel {
  padding: 0;
  outline: 0px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  height: 8.3em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#sp-product-list .sp-product .panel .sp-product-top {
  bottom: 3em;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}
#sp-product-list .sp-product .panel .sp-product-top img {
  left: 0;
  top: 0;
  width: 4.2em;
  height: 4.2em;
}
#sp-product-list .sp-product .panel .sp-product-top .sp-product-body {
  position: absolute;
  line-height: 4.2em;
  top: 0;
  right: 0;
  bottom: 3em;
  left: 4.2em;
}
#sp-product-list .sp-product .panel .sp-product-top .sp-product-body .sp-product-text {
  display: inline-block;
  font-size: .9em;
  line-height: 1em;
  vertical-align: middle;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
  padding: 0 .2em;
}
#sp-product-list .sp-product .panel .sp-product-center {
  background: #293541;
  color: #8696a6;
  position: absolute;
  bottom: 1.6em;
  left: 0;
  right: 0;
  top: auto;
  height: 2.2em;
  padding: .1em .5em;
  line-height: 1em;
}
#sp-product-list .sp-product .panel .sp-product-center .sp-product-code {
  font-size: .8em;
}
#sp-product-list .sp-product .panel .sp-product-center .sp-product-family {
  font-size: .8em;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
#sp-product-list .sp-product .panel .sp-product-center .sp-product-favicon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 14px;
  width: 2.2em;
  line-height: 2.2em;
  text-align: center;
  background: #293541;
}
#sp-product-list .sp-product .panel .sp-product-center .sp-product-favicon.active {
  color: #f0ad4e;
}
#sp-product-list .sp-product .panel .sp-product-center .sp-product-favicon:hover {
  background: #f0ad4e;
  color: #fff;
}
#sp-product-list .sp-product .panel .sp-product-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.6em;
}
#sp-product-list .sp-product .panel .sp-product-bottom .sp-product-price {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  right: 50%;
  line-height: 1.8em;
  font-size: .9em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#sp-product-list .sp-product .panel .sp-product-bottom .sp-product-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  left: 50%;
  line-height: 1.7em;
  border: 0;
  font-size: .9em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#sp-product-list .sp-product .panel .sp-product-bottom .sp-product-button i {
  font-size: 14px;
  line-height: 1.7em;
}
#sp-product-list .sp-product .panel .sp-product-bottom .sp-product-button span {
  line-height: 1.7em;
}
#sp-product-list .sp-product .panel:hover {
  outline: 4px solid rgba(0, 0, 0, 0.1);
}
#sp-product-list .sp-product .panel:hover .sp-product-body {
  color: #428bca;
}
#sp-product-list .sp-product .panel.selected {
  outline: 5px solid #428bca;
  cursor: pointer;
}
#sp-product-list .sp-product .panel.selected .sp-client-body {
  color: #428bca;
}
#sp-product-list .sp-product .panel .sp-product-details {
  display: none;
}
#sp-product-list.filtered .sp-product.filtered {
  display: none !important;
  visibility: hidden;
}
#sp-products-search-container .input-group-addon:last-child {
  padding: 0;
  border: 0;
}
#sp-products-search-container .input-group-addon:last-child .btn {
  border-left: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
@media (max-width: 480px) {
  #sp-product-list .sp-product {
    width: 100%;
  }
}
@media (min-width: 480px) {
  #sp-product-list .sp-product {
    width: 50%;
  }
}
@media (min-width: 1028px) {
  #sp-product-list .sp-product {
    width: 33.33333333%;
  }
}
@media (min-width: 1280px) {
  #sp-product-list .sp-product {
    width: 25%;
  }
}
.sp-product-select .modal-body {
  padding: 0!important;
}
.sp-product-select .modal-body .sp-product-select-search {
  padding: 10px;
  background: #eee;
}
.sp-product-select .modal-body .sp-product-select-btns {
  background: #eee;
}
.sp-product-select .modal-body .sp-product-select-btns .btn.btn-default {
  border-color: #cccccc;
}
.sp-product-select .sp-product-select-name-filter {
  width: 100%;
  font-size: .8em;
  cursor: pointer;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}
.sp-product-select .sp-product-select-name-filter td {
  text-align: center;
  width: 2.77777778%;
}
.sp-product-select .sp-product-select-name-filter td:hover {
  color: #428bca;
}
.sp-product-select .sp-product-select-name-filter td.active {
  background: #428bca;
  color: #fff;
}
.sp-product-select .sp-product-select-list table {
  border-bottom: 1px solid #cccccc;
}
.sp-product-select .sp-product-select-list table tr:not(.visible):not(.sp-product-select-more):not(.sp-separator) {
  display: none;
}
.sp-product-select .sp-product-select-list table tr.sp-separator th {
  background: #428bca !important;
  font-weight: 700 !important;
  font-size: .9em;
  padding: 2px;
  text-align: center;
  color: #ffffff;
}
.sp-product-select .sp-product-select-list table tr td.sp-select-cell {
  cursor: pointer;
}
.sp-product-select .sp-product-select-list table tr:first-child td {
  border: 0;
}
.sp-product-select .sp-product-select-list table tr.selected td:nth-child(3) span {
  background: #428bca;
  border: solid 1px #428bca;
}
.sp-product-select .sp-product-select-list table tr.selected td:nth-child(3) span i:before {
  content: "\f00c";
  color: #ffffff;
}
.sp-product-select .sp-product-select-list table tr td {
  vertical-align: middle;
  line-height: 1.1em;
}
.sp-product-select .sp-product-select-list table tr td:nth-child(3) {
  width: 45px;
  text-align: center;
  color: #e3e3e3;
}
.sp-product-select .sp-product-select-list table tr td:nth-child(3) span {
  width: 18px;
  height: 18px;
  display: block;
  background: rgba(0, 0, 0, 0.09);
  border: solid 1px rgba(0, 0, 0, 0.1);
  line-height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.sp-product-select .sp-product-select-list table tr td:nth-child(1) {
  width: 45px;
}
.sp-product-select .sp-product-select-list table tr td:nth-child(1) img,
.sp-product-select .sp-product-select-list table tr td:nth-child(1) button {
  width: 35px;
  height: 35px;
}
.sp-product-select .sp-product-select-list table tr td:nth-child(2) small {
  font-size: .8em;
}
#sp-products-search-input-fields .bootstrap-select .filter-option,
#sp-products-search-input-fields .bootstrap-select .dropdown-menu a {
  font-size: .9em;
}
#sp-products-search-input-fields .bootstrap-select button[data-id="sp-products-search-filters"] {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  border-top: none;
  background: #eeeeee;
  border-color: #ccc;
}
#sp-products-search-input-fields .bootstrap-select button[data-id="sp-products-search-filters"]:hover {
  background: #f2f2f2;
}
#sp-products-search-input-fields .bootstrap-select button[data-id="sp-products-search-families"] {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
  background: #eeeeee;
  border-color: #ccc;
}
#sp-products-search-input-fields .bootstrap-select button[data-id="sp-products-search-families"]:hover {
  background: #f2f2f2;
}
#sp-products-search-input-fields .bootstrap-select .dropdown-menu.inner {
  max-height: 300px!important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#sp-products-search-input-fields .input-group-addon:first-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
}
#sp-products-search-input-fields .input-group-addon:last-child {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.sp-note-status {
  font-weight: normal;
  display: inline-block;
  width: 24px;
  font-size: 14px;
  text-align: center;
  padding: .2em 0 .3em;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"]:not(#sp-recover-email) {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .error-message {
  position: absolute;
  height: 20px;
  line-height: 20px;
}
.form-signin .error-message i {
  font-size: 14px;
}
.account-wall {
  margin-top: 20px;
  padding: 20px 0px 0px 0px;
  background-color: #f9f9f9;
  border: solid 1px #e6e6e6;
  border-bottom: solid 2px #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}
#shopping-cart {
  position: fixed;
  bottom: 0px;
  left: 225px;
  right: 0px;
  height: 40px;
  z-index: 1030;
  background: #e6e6e6;
  font-size: 1em;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#shopping-cart #shopping-cart-container {
  display: inline-block;
  position: absolute;
  height: 40px;
  left: 0px;
  right: 120px;
  top: 0px;
  bottom: 0px;
}
#shopping-cart #shopping-cart-container i {
  color: #293541;
  font-size: 14px;
  width: 60px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: 0px;
}
#shopping-cart #shopping-cart-container #shopping-cart-details {
  right: 0px;
  background: none;
  color: #333333;
}
#shopping-cart #shopping-cart-container #shopping-cart-price {
  right: 60px;
  width: 100px;
  text-align: right;
  padding: 0px;
}
#shopping-cart #shopping-cart-container #shopping-cart-price span {
  line-height: 20px;
  display: inline-block;
  font-size: 1em;
}
#shopping-cart #shopping-cart-container #shopping-cart-products,
#shopping-cart #shopping-cart-container #shopping-cart-client {
  left: 220px;
  right: 160px;
  line-height: 40px;
  font-size: .9em;
}
#shopping-cart #shopping-cart-container #shopping-cart-products span,
#shopping-cart #shopping-cart-container #shopping-cart-client span {
  line-height: 20px;
  display: inline-block;
  margin-left: 40px;
}
#shopping-cart #shopping-cart-container #shopping-cart-client {
  left: 0px;
  width: 220px;
  right: auto;
}
#shopping-cart #shopping-cart-container #shopping-cart-price i,
#shopping-cart #shopping-cart-container #shopping-cart-products i,
#shopping-cart #shopping-cart-container #shopping-cart-client i {
  width: 40px;
}
#shopping-cart #shopping-cart-container:hover {
  background: #f2f2f2;
}
#shopping-cart #shopping-cart-container:hover i {
  color: #428bca;
}
#shopping-cart #shopping-cart-client,
#shopping-cart #shopping-cart-products,
#shopping-cart #shopping-cart-price,
#shopping-cart #shopping-cart-confirm,
#shopping-cart #shopping-cart-cancel,
#shopping-cart #shopping-cart-details {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  position: absolute;
}
#shopping-cart #shopping-cart-confirm,
#shopping-cart #shopping-cart-cancel,
#shopping-cart #shopping-cart-details {
  width: 60px;
  padding: 0px;
  margin: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  right: 0px;
  color: #fff;
}
#shopping-cart #shopping-cart-confirm i,
#shopping-cart #shopping-cart-cancel i,
#shopping-cart #shopping-cart-details i {
  font-size: 14px;
  width: 60px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#shopping-cart #shopping-cart-cancel {
  right: 60px;
  background: #d9544f;
}
#shopping-cart #shopping-cart-cancel:hover {
  background: #c9312c;
}
#shopping-cart #shopping-cart-confirm {
  background: #428bca;
}
#shopping-cart #shopping-cart-confirm:hover {
  background: #3071a9;
}
@media (max-width: 1028px) {
  #shopping-cart #shopping-cart-client {
    display: none !important;
  }
  #shopping-cart #shopping-cart-products {
    left: 0px !important;
  }
}
@media (max-width: 767px) {
  #shopping-cart {
    left: 0px;
  }
  #shopping-cart #shopping-cart-client {
    display: none !important;
  }
  #shopping-cart #shopping-cart-products {
    left: 0px !important;
  }
}
@media (max-width: 480px) {
  #shopping-cart #shopping-cart-products {
    display: none !important;
  }
  #shopping-cart #shopping-cart-details {
    left: 0px !important;
    right: 90px !important;
    width: auto !important;
    text-align: left;
    padding-left: 40px;
    white-space: nowrap;
  }
  #shopping-cart #shopping-cart-details i {
    width: 40px;
  }
  #shopping-cart #shopping-cart-price {
    right: 0px !important;
  }
  #shopping-cart #shopping-cart-price span {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 40px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}
@media (min-width: 480px) {
  #shopping-cart #shopping-cart-details span {
    display: none !important;
  }
}
#shopping-cart-modal-products thead {
  font-size: .8em;
}
#shopping-cart-modal-products tbody {
  font-size: .9em;
}
#shopping-cart-modal-products tbody tr td {
  height: 4em;
  backgound: #eeeeee;
  vertical-align: middle;
  text-align: center;
}
#shopping-cart-modal-products tbody tr td img {
  height: 4em;
  width: 4em;
  margin-left: -8px;
  margin-right: -8px;
}
#shopping-cart-modal-products tbody tr td:first-child {
  background: #fff;
}
#shopping-cart-modal-products tbody tr td:nth-child(2) {
  text-align: left;
}
#shopping-cart-modal-products tbody tr td:nth-child(4) button {
  display: block;
  width: 100%;
}
@media (max-width: 480px) {
  #shopping-cart-modal-products tr td:nth-child(1),
  #shopping-cart-modal-products tr td:nth-child(3) {
    display: none;
  }
}
.toast-title {
  font-weight: 700 !important;
  margin-bottom: 10px;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  color: rgba(255, 255, 255, 0.7) !important;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 6px;
  left: 6px;
}
.toast-top-right {
  top: 41px;
  right: 0px;
}
@media (max-width: 767px) {
  .toast-top-right {
    top: 50px;
  }
}
@media (max-width: 480px) {
  .toast-top-right {
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
  }
  /*overrides*/
  #toast-container > div,
  #toast-container > div {
    width: 100% !important;
    margin: 0px auto 0px !important;
  }
}
.toast-bottom-right {
  right: 6px;
  bottom: 46px;
}
.toast-bottom-left {
  bottom: 6px;
  left: 6px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  width: 300px;
  /*overrides*/
}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#toast-container > div {
  margin: 0 0 0px;
  padding: 15px 5px 15px 30px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: .85em;
  line-height: 1.2em;
  position: relative;
}
#toast-container > div .toastr-label {
  color: rgba(255, 255, 255, 0.4) !important;
}
#toast-container > :hover {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#toast-container > .toast:before {
  position: absolute;
  left: 5px;
  top: 50%;
  font-family: FontAwesome;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  text-align: center;
}
#toast-container > .toast-warning:before {
  content: "\f12a";
  color: #f89406;
}
#toast-container > .toast-error:before {
  content: "\f00d";
  color: #d9544f;
}
#toast-container > .toast-info:before {
  content: "\f129";
  color: #428bca;
}
#toast-container > .toast-success:before {
  content: "\f00c";
  color: #5bb85d;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto;
}
.toast {
  background-color: rgba(31, 40, 49, 0.9);
  background-opacity: 0.8;
}
.toast:hover {
  background-color: #1f2831;
  color: #fff!important;
}
/*Responsive Design*/
*:not(.glyphicon):not(.icon):not(.fa) {
  font-family: 'Roboto', Arial !important;
  font-weight: 300;
}
*:not(.glyphicon):not(.icon):not(.fa) b,
*:not(.glyphicon):not(.icon):not(.fa) strong {
  font-weight: 700;
}
input[type="text"],
input[type="search"],
input[type="password"],
select {
  -webkit-appearance: none !important;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes modal-animation-open {
  from {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
/* Standard syntax */
@keyframes modal-animation-open {
  from {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes modal-animation-close {
  from {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    opacity: 0;
  }
}
/* Standard syntax */
@keyframes modal-animation-close {
  from {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.7, 0.7);
    -moz-transform: scale(0.7, 0.7);
    -o-transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
    opacity: 0;
  }
}
.modal-dialog {
  -webkit-animation: modal-animation-open 0.5s;
  /* Chrome, Safari, Opera */
  animation: modal-animation-open 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.modal.hide-modal .modal-dialog {
  -webkit-animation: modal-animation-close 0.3s;
  /* Chrome, Safari, Opera */
  animation: modal-animation-close 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.modal-content {
  -webkit-overflow-scrolling: touch;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-content .modal-header {
  position: relative;
  padding: 14px;
  background: #293541;
  color: rgba(255, 255, 255, 0.7) !important;
  border-bottom: 0;
}
.modal-content .modal-header .close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2em;
  height: auto;
  display: block;
  font-size: 2em;
  margin-top: 0px!important;
  text-shadow: none;
  color: rgba(255, 255, 255, 0.7) !important;
  opacity: 1;
}
.modal-content .modal-header .close:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff!important;
}
.modal-content .modal-header .modal-title {
  font-size: 15px!important;
}
.modal-content .modal-body {
  padding: 0px;
}
.modal-content .modal-body .sp-header {
  margin: 0px 0px;
  border: 0;
}
.modal-content .modal-body .alert {
  margin: 10px;
}
.modal-content .modal-body table {
  margin-bottom: 0px!important;
}
.modal-content .modal-body .modal-btn {
  display: block;
  text-align: center;
}
.modal-content .modal-body .modal-btn .btn {
  margin: 5px 0px!important;
}
.modal-content .modal-title .title-icon {
  color: #ffffff;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #428bca;
  font-size: 14px;
}
.modal-content .modal-footer {
  margin-top: 0;
  padding: 10px;
  font-size: 0;
}
.modal-content .modal-footer .btn {
  margin-left: 10px;
}
.modal-backdrop.in {
  opacity: .8;
}
.btn-sm i {
  font-size: 14px;
}
.sp-shopping-cart-badge-price {
  bottom: -5px;
  top: auto !important;
  background: #5bb85d;
}
.sp-animate.sp-slide {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 1;
}
.sp-animate.sp-slide:not(.visible) {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.sp-animate.sp-slide:not(.visible) * {
  display: none;
}
table tr.edited td,
table tr.edited th {
  background: #e6e6e6!important;
  border-color: #ccc!important;
}
#sp-search-container .popover {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 225px;
  margin-left: -15px;
  font-size: .9em;
}
#sp-search-container .popover .popover-title {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 5px 10px;
  display: none;
}
#sp-search-container .popover .popover-content {
  padding: 0;
  position: relative;
}
#sp-search-container .popover .popover-content .sp-search-content h6 {
  display: block;
  padding: 7px 10px;
  margin: 0;
  font-size: 1em;
  background: #ddd;
}
#sp-search-container .popover .popover-content .sp-search-content .sp-search-element {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
#sp-search-container .popover .popover-content .sp-search-content .sp-search-element:hover {
  background: #428bca;
  color: #fff;
}
#sp-search-container .popover .popover-content .sp-search-content .sp-search-element:not(.visible) {
  display: none;
}
#sp-search-container .popover .popover-content .alert {
  padding: 5px 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  background: 0;
  border: 0;
  text-align: center;
}
#sp-search-container .popover .popover-content button {
  padding: 3px 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#sp-search-container .popover .popover-content .sp-search-info .alert {
  text-align: left;
}
#sp-search-container #sp-search-close {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  padding: 0px 10px;
  border: 0;
  background: 0;
  color: #999999;
  line-height: 28px;
}
#sp-search-container #sp-search-close:hover {
  color: #000000;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}
.modal-dialog {
  /*position:fixed;
		top:20px;
		bottom:20px;
		left:0;
		right:0;
		display:block;*/
}
.modal-dialog .modal-content {
  /*position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;*/
  border: solid 1px rgba(255, 255, 255, 0.4);
  outline: solid 5px rgba(255, 255, 255, 0.2);
}
.modal-dialog .modal-content .modal-header {
  /*position:fixed;
			top:0;
			left:0;
			right:0;*/
}
.modal-dialog .modal-content .modal-body {
  /*position:fixed;
			top:49px;
			left:0;
			right:0;
			bottom:55px;
			overflow:auto;
			border:solid 1px #fff;*/
}
.modal-dialog .modal-content .modal-footer {
  /*position:fixed;
			bottom:0;
			left:0;
			right:0;*/
  background: #eee;
}
/*@media (max-width:480px) {
	.modal-dialog {
			top:0;
			bottom:0;
			right:0;
			left:0;
	}
	.modal-backdrop {
		//display:none;
	}
}*/
html .sp-inpage-pagination {
  position: fixed;
  left: 225px;
  bottom: 0;
  right: 0;
}
html .sp-inpage-pagination select {
  font-size: 1em!important;
}
html .sp-inpage-pagination .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: .9em!important;
}
html .sp-inpage-pagination .btn i {
  font-size: 14px!important;
}
html .sp-inpage-pagination .btn:first-child {
  border-left: 0;
}
html .sp-inpage-pagination .btn:last-child {
  border-right: 0;
}
html .sp-inpage-pagination .btn[disabled] {
  opacity: 1;
  color: #aaa;
}
html .sp-inpage-pagination small {
  margin-bottom: -1px;
  white-space: nowrap;
  display: block;
  text-align: right;
  font-size: .8em;
}
html .sp-inpage-pagination small span {
  background: rgba(238, 238, 238, 0.8);
  padding: 2px 4px;
}
@media (max-width: 767px) {
  html .sp-inpage-pagination {
    left: 0px;
  }
}
html.cart-active .sp-inpage-pagination {
  bottom: 40px;
}
