/*
*
*	main_blue: #008dd2 rgb(0,141,210);
*	main_pink: #e5097f rgb(229,9,127);
*	bootstrap_blue: #428bca
*	bootstrap_red: #d9544f
*	bootstrap_green: #5bb85d
*
*/

@sp-color-main-pink: #e5097f;
@sp-color-main-blue: #428bca;
@sp-color-main-red: #d9544f;
@sp-color-main-green: #5bb85d;
@sp-color-main-orange: #f0ad4e;

.prevent-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@import "sp/mixins.less";
@import "bootstrap.min.css";
@import "sb-admin.css";
@import "../fonts/font-awesome/4.0.3/less/font-awesome.less";
@import "../js/eternicode-bootstrap-datepicker/css/datepicker.css";
@import "sp/navigation.less";
@import "sp/layout.less";
@import "sp/typography.less";
@import "sp/pages/clients.less";
@import "sp/pages/products.less";
@import "sp/pages/notes.less";
@import "sp/pages/login.less";
@import "sp/shopping-cart.less";
@import "toastr.less";

*:not(.glyphicon):not(.icon):not(.fa) {
	font-family: 'Roboto', Arial !important;
	//font-family: Arial !important;
	font-weight: 300;
	b,strong {
		font-weight: 700;
	}
}
input[type="text"],
input[type="search"],
input[type="password"],
select {
	-webkit-appearance: none !important;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes modal-animation-open
{
	from {.transform(scale(.7,.7));opacity:0;}
	to {.transform(scale(1,1));opacity:1;}
}

/* Standard syntax */
@keyframes modal-animation-open
{
	from {.transform(scale(.7,.7));opacity:0;}
	to {.transform(scale(1,1));opacity:1;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes modal-animation-close
{
	from {.transform(scale(1,1));opacity:1;}
	to {.transform(scale(.7,.7));opacity:0;}
}

/* Standard syntax */
@keyframes modal-animation-close
{
	from {.transform(scale(1,1));opacity:1;}
	to {.transform(scale(.7,.7));opacity:0;}
}

.modal-dialog {
	
	-webkit-animation: modal-animation-open .5s; /* Chrome, Safari, Opera */
	animation: modal-animation-open .5s;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.modal.hide-modal .modal-dialog {
	
	-webkit-animation: modal-animation-close .3s; /* Chrome, Safari, Opera */
	animation: modal-animation-close .3s;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.modal-content {
	-webkit-overflow-scrolling: touch;

	.border-radius(0px);
	.box-shadow(none);
	.modal-header {
		position: relative;
		padding:14px;
		background:#293541;
		color:rgba(255,255,255,0.7)!important;
		border-bottom:0;
		.close {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 2em;
			height: auto;
			display: block;
			font-size: 2em;
			margin-top:0px!important;
			text-shadow:none;
			color:rgba(255,255,255,0.7)!important;
			opacity:1;
			&:hover {
				background: rgba(255,255,255,.2);
				color:#ffffff!important;
			}
		}
		.modal-title {
			font-size:15px!important;
		}
	}
	.modal-body {
		padding:0px;
		.sp-header {
			margin:0px 0px;
			border:0;
		}
		.alert {
			margin:10px;
		}
		table {
			margin-bottom:0px!important;

		}
		.modal-btn {
			display:block;
			text-align:center;
			.btn {
				margin:5px 0px!important;
			}
		}
	}
	.modal-title .title-icon  {
		color: #ffffff;
		margin-right: 10px;
		width: 30px;
		height: 30px;
		line-height: 32px;
		text-align: center;
		.border-radius(5px);
		background: @sp-color-main-blue;
		font-size: 14px;
	}
	.modal-footer {
		margin-top:0;
		padding:10px;
		font-size:0;
		.btn {
			margin-left:10px;
		}
	}
}
.modal-backdrop.in {
	opacity:.8;
}
.btn-sm i {
	font-size: 14px;
}
.sp-shopping-cart-badge-price {
	bottom: -5px;
	top: auto !important;
	background: @sp-color-main-green;
}

.sp-animate { 
	&.sp-slide {
		.transition(opacity .3s ease-out);
		opacity:1;
		&:not(.visible) {
			height:0;
			opacity:0;
			overflow:hidden;
			* {
				display:none;
			}
		}
	}
}
table tr.edited td,table tr.edited th {
	background:#e6e6e6!important;
	border-color:#ccc!important;
}

#sp-search-container {
	.popover {
		.border-radius(0px);
		width:225px;
		margin-left:-15px;
		font-size:.9em;
		.popover-title {
			.border-radius(0px);
			padding:5px 10px;
			display:none;
		}
		.popover-content {
			padding:0;
			position:relative;
			.sp-search-content {
				h6 {
					display:block;
					padding:7px 10px;
					margin:0;
					font-size:1em;
					background:#ddd;
				}
				.sp-search-element {
					display:block;
					padding:5px 10px;
					text-decoration:none;
					&:hover {
						background:@sp-color-main-blue;
						color:#fff;
					}
					&:not(.visible) {
						display:none;
					}
				}
			}
			.alert {
				padding:5px 10px;
				.border-radius(0px);
				margin:0;
				background:0;
				border:0;
				text-align:center;
			}
			button {
				padding:3px 10px;
				.border-radius(0px);
			}
			.sp-search-info .alert {
				text-align:left;
			}
		}
	}
	#sp-search-close {
		position:absolute;
		top:0px;
		right:0px;
		text-align:center;
		padding:0px 10px;
		border:0;
		background:0;
		color:#999999;
		line-height:28px;
		&:hover {
			color:#000000;
			.box-shadow(0);
		}
	}
}



.modal-dialog {
		/*position:fixed;
		top:20px;
		bottom:20px;
		left:0;
		right:0;
		display:block;*/
	.modal-content {
		/*position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;*/
		border:solid 1px rgba(255,255,255,0.4);
		outline: solid 5px rgba(255,255,255,0.2);
		.modal-header {
			/*position:fixed;
			top:0;
			left:0;
			right:0;*/
		}
		.modal-body {
			/*position:fixed;
			top:49px;
			left:0;
			right:0;
			bottom:55px;
			overflow:auto;
			border:solid 1px #fff;*/
		}
		.modal-footer {
			/*position:fixed;
			bottom:0;
			left:0;
			right:0;*/
			background:#eee;
		}
		& :last-child {
			&.modal-body {
				//bottom:0px;
			}
		}
	}
}

/*@media (max-width:480px) {
	.modal-dialog {
			top:0;
			bottom:0;
			right:0;
			left:0;
	}
	.modal-backdrop {
		//display:none;
	}
}*/

html {
	.sp-inpage-pagination {
		position:fixed;
		left:225px;
		bottom:0;
		right:0;
		select {
			font-size:1em!important;
		}
		.btn {
			.border-radius(0px);
			font-size:.9em!important;
			i {
				font-size:14px!important;
			}
			&:first-child {
				border-left:0;
			}
			&:last-child {
				border-right:0;
			}
			&[disabled] {
				opacity:1;
				color:#aaa;
			}
		}
		small {
			margin-bottom:-1px;
			white-space:nowrap;
			display:block;
			text-align:right;
			font-size:.8em;
			span {
				background: rgba(238,238,238,.8);
				padding:2px 4px;
			}
		}
	}
	@media (max-width:767px) {
		.sp-inpage-pagination {
			left:0px;
		}
	}
	&.cart-active .sp-inpage-pagination {
		bottom:40px;
	}
}