﻿// Mix-ins
.borderRadius(@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.boxShadow(@boxShadow) {
	-moz-box-shadow: @boxShadow;
	-webkit-box-shadow: @boxShadow;
	box-shadow: @boxShadow;
}

.opacity(@opacity) {
	@opacityPercent: @opacity * 100;
	opacity: @opacity;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacityPercent})";
	filter: ~"alpha(opacity=@{opacityPercent})";
}

.wordWrap(@wordWrap: break-word) {
	-ms-word-wrap: @wordWrap;
	word-wrap: @wordWrap;
}

// Variables
@black: #000000;
@grey: #999999;
@light-grey: #CCCCCC;
@white: #FFFFFF;
@near-black: #030303;
@green: @sp-color-main-green;
@red: @sp-color-main-red;
@blue: @sp-color-main-blue;
@orange: #F89406;

// Styles
.toast-title {
	font-weight: 700 !important;
	margin-bottom:10px;
}

.toast-message {
	.wordWrap();
	color:rgba(255,255,255,0.7)!important;
	a,
	label {
		color: @white;
	}

		a:hover {
			color: @light-grey;
			text-decoration: none;
		}
}

.toast-close-button {
	position: relative;
	right: -0.3em;
	top: -0.3em;
	float: right;
	font-size: 20px;
	font-weight: bold;
	color: @white;
	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,1);
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	.opacity(0.8);

	&:hover,
	&:focus {
		color: @black;
		text-decoration: none;
		cursor: pointer;
		.opacity(0.4);
	}
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

//#endregion

.toast-top-full-width {
	top: 0;
	right: 0;
	width: 100%;
}

.toast-bottom-full-width {
	bottom: 0;
	right: 0;
	width: 100%;
}

.toast-top-left {
	top: 6px;
	left: 6px;
}

.toast-top-right {
	top: 41px;
	right: 0px;
}

@media (max-width:1028px) {
}
@media (max-width:767px) {
	.toast-top-right {
		top: 50px;
	}
}
@media (max-width:480px) {
	.toast-top-right {
		top: 50px;
		right: 0;
		left: 0;
		width: 100%;
	}
	/*overrides*/
	#toast-container > div,
	#toast-container > div {
		width: 100% !important;
		margin: 0px auto 0px !important;
	}
}
@media (min-width:480px) {
}


.toast-bottom-right {
	right: 6px;
	bottom: 46px;
}

.toast-bottom-left {
	bottom: 6px;
	left: 6px;
}

#toast-container {
	position: fixed;
	z-index: 999999;
	width:300px;

	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	> div {
		margin: 0 0 0px;
		padding: 15px 5px 15px 30px;
		width:300px;
		.borderRadius(3px 3px 3px 3px);
		background-position: 15px center;
		background-repeat: no-repeat;
		border: solid 1px rgba(255,255,255,.2);
		border-bottom: solid 1px rgba(0,0,0,.1);
		border-left: solid 1px rgba(0,0,0,.1);
		color: @white;
		font-size: .85em;
		line-height: 1.2em;
		position:relative;
		.toastr-label {
			color:rgba(255,255,255,0.4)!important
		}
	}

	> :hover {
		.boxShadow(0 0 3px rgba(0,0,0,.3));
		cursor: pointer;
	}

	> .toast:before {
    	position: absolute;
    	left:5px;
    	top:50%;
    	font-family: FontAwesome;
    	font-size:18px;
    	color:rgba(255,255,255,.4);
    	width:20px;
    	height:20px;
    	line-height:20px;
    	margin-top:-10px;
    	text-align:center;
	}

	> .toast-warning:before {
    	content: "\f12a";
    	color: @orange;
	}
	> .toast-error:before {
    	content: "\f00d";
    	color: @red;
	}
	> .toast-info:before {
    	content: "\f129";
    	color: @blue;
	}
	> .toast-success:before {
    	content: "\f00c";
    	color: @green;
	}

	/*overrides*/
	&.toast-top-full-width > div,
	&.toast-bottom-full-width > div {
		width: 96%;
		margin: auto;
	}
}

.toast {
	background-color: rgba(31,40,49,.9);
	background-opacity: 0.8;
	&:hover {
		background-color: rgba(31,40,49,1);
		color:#fff!important;
	}
}

/*Responsive Design*/

@media all and (max-width: 240px) {
	#toast-container {
	}
}

@media all and (min-width: 241px) and (max-width: 480px) {
	#toast-container {
	}
}

@media all and (min-width: 481px) and (max-width: 768px) {
	#toast-container {
	}
}